template(name='regulationBox')
    .text-center.regulation-box
        h4 {{ name }}
            i.fa.fa-cog.fa-fw.pointer#regulation-settings(data-toggle='tooltip' data-placement='right' title='{{ i18n "tooltipSettings" }}')
            i.fa.fa-times.fa-fw.pointer#regulation-remove(data-toggle='tooltip' data-placement='right' title='{{ i18n "tooltipDeleteRegulation" }}')
        .inline
            div.easypiechart.easyPieChart(id='{{id}}' data-percent='{{percentage}}' data-line-width='30' data-track-color='#eee' data-bar-color='#4E7AC7' data-scale-color='#fff' data-line-cap='butt' data-size='180' data-animate='2000')
                    span.h2.step {{ percentage }}
                    | %
                    div.easypie-text {{ completedEcts }}/{{ ects }} Ects