template(name='footer')
    footer.footer.b-t.b-light
        .col-sm-6
            .text-sm {{{ i18n 'copyRight' }}}
        .col-sm-6.text-right
            img.uzh-logo(src="{{ i18n 'footer_uzh_ifi_logo' }}")