template(name='layout')
    .container
        .vbox
            +navbar
            section
                section.vbox
                    section.scrollable.padder.main-content
                        +yield
                    +footer