template(name='task4Layout')
    .container
        section.vbox
            header.bg-primary.header.navbar.navbar-fixed-top-xs
                .navbar-header
                    a.navbar-brand
                        span.navbar-brand {{i18n 'task4LayoutTitle'}}
            section.scrollable.main-content
                +yield
            +footer(place='wizard')