template(name='wizardLayout')
    .container
        section.vbox
            header.bg-primary.header.navbar.navbar-fixed-top-xs
                .navbar-header
                    a.navbar-brand
                        span.navbar-brand CoRe - {{i18n 'welcomeAAI'}}
                ul.nav.navbar-nav.navbar-right.m-n.hidden-xs.nav-user
                    li.dropdown(data-toggle='tooltip', data-placement='left', title='{{ i18n "tooltipLanguage" }}')
                        a.dropdown-toggle.pointer(data-toggle='dropdown')
                            span {{ currentLanguage }}
                            b.caret
                        ul.dropdown-menu.animated.fadeInRight
                            li
                                a.pointer#language-de
                                    span Deutsch
                                a.pointer#language-en
                                    span English
            section.scrollable.main-content
                +yield
            +footer(place='wizard')