template(name='task2RecommendModules')
	+task2Header
	.padder.m-t
		.row
			.col-md-12
				if goNowhere
					.col-md-10
						section.panel.panel-default.instruction-panel(style='margin-top: -10px; margin-bottom: 5px;')
							.panel-body(style='padding-bottom: 0px;')
								p(style=' height: 70px;') {{{recommendInformation}}}
					.col-md-2
						.panel-body(style='margin-top: -10px; margin-bottom: 5px; padding: 0px;')
							if goNowhere
								//input#backToTutorial.btn.btn-default(type='button', value='Back to tutorial', style='width:100%; margin-bottom: 2px;')
								input#submit.btn.btn-success(type='button', value='Submit', style='width: 100%; margin-top: 30px;')
				if goTutorial
					.col-md-12
						section.panel.panel-default.instruction-panel(style='margin-top: -10px; text-align:center')
							.panel-body
								p {{{recommendInformation}}}
							.panel-body(style='margin-top: -15px;')
								div
									input#goNowhereButton.btn.btn-default(type='button', value='No, continue editing')
									input#goTutorialButton.btn.btn-success(type='button', value='Yes, back to tutorial')
				if goSubmit
					.col-md-12
						section.panel.panel-default.instruction-panel(style='margin-top: -10px; text-align:center')
							.panel-body
								p {{{recommendInformation}}}
							.panel-body(style='margin-top: -15px;')
								div
									input#goNowhereButton.btn.btn-default(type='button', value='No, continue editing')
									input#goSubmitButton.btn.btn-success(type='button', value='Yes, submit')
		.row
			.col-md-6
				section.panel.panel-default#humanRecPanel
					.panel-body
						.row
							.col-md-12
								section.panel.panel-default
									.panel-body.human-recommendations-header
										img(src='{{profilePictureLink}}' style='height: 45px; width: auto; float: left; position: absolute; margin-left: -10px; margin-top: -10px;')
										div(style='display: table; height: 25px; width: 100%;')
											p(style='color: #FFFFFF; vertical-align: middle; text-align: center; display: table-cell; font-size: 18px;')
												|Recommendations for {{ matchFullName }}
						.row
							.col-md-1
								table.human-recommendations-helper
									each ranks
										tr.not-draggable-item
											td.text-center
												div.human-table-box
													| {{ number }}
							.col-md-10.no-padding
								table.human-recommendations#humRecTable
									each recommendations
										tr.draggable-item(data-id='{{moduleId}}')
											td.drag-handle
												div.human-table-box
													div(style='width:100%;height:100%;text-align:center;')
														i.fa.fa-arrows(style='line-height: 30px;')
											td.title-handle
												div.human-table-box(data-toggle='tooltip' data-placement='right' title='{{title}}')
													div.ellipsis-span
														| {{ title }}
											td.question-handle
												div.human-table-box
													button.btn.transparent-button.getInfo(data-url='{{uzhUrl}}' data-toggle='tooltip' data-placement='right' title='Open module information in new tab')
														i.fa.fa-info-circle

							.col-md-1.no-padding
								table.human-recommendations-helper#removeTable
									each ranks
										tr.not-draggable-item
											td.text-center
												div.human-table-box
													button.btn.transparent-button.removeItem(data-rank='{{number}}' data-toggle='tooltip' data-placement='right' title='Move module to recycle bin')
														i.fa.fa-trash-o

			.col-md-6
				section.panel.panel-default
					.panel-body
						.row
							.col-md-12
								section.panel.panel-default
									.panel-body.alg-recommendations-header
										.input-group(style='margin-top: -5px;')
											input.form-control#searchBox(type='text', placeholder='Search modules')
											.input-group-btn
												button.btn.btn-default#searchButton(style='height: 34px;')
													i.fa.fa-search
						.row
							.col-md-12
								.section.panel(style='height: 150px; overflow: auto; overflow-x: hidden;')
									table.alg-recommendations#algRecTable
										+sortable(items=algRecommendations sortField='order' animation=150 handle='.drag-handle' options=algRecommendationsOptions)
											tr.draggable-item(data-id="{{moduleId}}" data-title="{{title}}")		
												td.drag-handle
													div.human-table-box
														div(style='width:100%;height:100%;text-align:center;')
																i.fa.fa-arrows(style='line-height: 30px;')
												td.title-handle
													div.human-table-box(data-toggle='tooltip' data-placement='right' title='{{title}}')
														div.ellipsis-span
															| {{ title }}
												td.question-handle
													div.human-table-box
														button.btn.transparent-button.getInfo(data-url='{{uzhUrl}}' data-toggle='tooltip' data-placement='right' title='Open module information in new tab')
															i.fa.fa-info-circle

				section.panel.panel-default
					.panel-body#binRecPanel
						.row
							.col-md-12
								section.panel.panel-default
									.panel-body.bin-recommendations-header
										div(style='display: table; height: 50px; width: 100%;')
											p(style='color: #FFFFFF; vertical-align: middle; text-align: center; font-size: 18px;') Recycling Bin						
						.row
							.col-md-12
								.section.panel(style='height: 150px; overflow: auto; overflow-x: hidden;')
									table.bin-recommendations#binTable
										each bins
											tr.draggable-item(data-id='{{moduleId}}')
												td.drag-handle
													div.human-table-box
														div(style='width:100%;height:100%;text-align:center;')
															i.fa.fa-arrows(style='line-height: 30px;')
												td.title-handle
													div.human-table-box(data-toggle='tooltip' data-placement='right' title='{{title}}')
														div.ellipsis-span
															| {{ title }}
												td.question-handle
													div.human-table-box
														button.btn.transparent-button.getInfo(data-url='{{uzhUrl}}' data-toggle='tooltip' data-placement='right' title='Open module information in new tab')
															i.fa.fa-info-circle


