template(name='aai')
    .padder.m-t
        +ieWarning
        .row.equal
            .col-md-12
                section.panel.panel-default
                    header.panel-heading {{ i18n 'informationTitle' }}
                    .panel-body
                        p {{{ i18n 'informationContent' }}}
        .row
            .col-md-12
                section.panel.panel-default
                    header.panel-heading {{ i18n 'studyAdvertisementTitle' }}
                    .panel-body
                        p {{{ i18n 'studyAdvertisementContent' }}}
                        //p {{{ i18n 'studyBlocked'}}}
                    .panel-body.text-center
                        iframe(src='/login.html' style='width: 560px; height: 330px;')
                    //.panel-body.text-center
                        //iframe(src='/login.html' style='width: 560px; height: 0px;')
        .row
            .col-md-10
            .col-md-2
                button.btn#debugLogin Debug Login   

