template(name='task4ModuleRating')
    +task4Header
    .padder.m-t
        .row
            .col-md-12
                #step4.step-pane.active
                    //with(i18nTitle='moduleRatingTitle')
                    //    +title
                    .row
                        .col-md-12
                            section.panel.panel-default.instruction-panel
                                .panel-body
                                    p Please rate the modules which you visited in fall semester 2016.
                        .col-md-12
                            section.panel.panel-default
                                .panel-body
                                    if modules.length
                                        table.table.b-t.b-light
                                            thead
                                                tr   
                                                    th(width='15%') {{ i18n 'moduleId' }}
                                                    th(width='65%') {{ i18n 'title' }}
                                                    th(width='15%') {{ i18n 'rating' }}
                                                        i.fa.fa-question-circle.m-l-md.pointer(data-toggle='tooltip' data-placement='left' title='{{ i18n "toolTipRating" }}')
                                            tbody
                                                each modules
                                                    tr
                                                        td
                                                                a(href='/module-detail/{{moduleId}}') {{ moduleId }}
                                                        td
                                                            div(data-module-id='{{moduleId}}') {{ title }}
                                                        td
                                                            div(data-toggle='tooltip', data-placement='left', title=i18ntootltipStars)
                                                                with(moduleId=moduleId moduleRating=rating)
                                                                    .rateit.svg.pointer(id='{{moduleId}}', data-rateit-value='{{moduleRating}}', data-rateit-ispreset='true')
                    .row   
                        .col-md-12
                            input#step4-next.btn.btn-success.pull-right(type='button', value="Finish rating modules", disabled=continueDisabled)
                            input#step4-back.btn.btn-success.pull-left.m-b(type='button', value=i18nBack)