.badge{
	font-size: 10px;
}
.wizard {
	font-size: 13px;
}
.plan{
	float: right;
    max-width: 90%;
    line-height: 13px;
    margin-top: 14px;
}
.instruction-panel {
	background-color: 	#00008B;
	color: #FFFFFF;
}
.overlay-panel{
    background-color: #FFFFFF;
    width: 100%;
    height: 1000px;
    position: absolute;
    z-index: 10;
    opacity: 0.8;
}
.withBottomMargin {
	margin-bottom:50px;
}
.textButton {
	background-color: #FFFFFF;
    border: none;
    color: #0000EE;
}
.top-buffer {
	margin-top:20px;
}
.minus-margin{
	margin-top:-20px;
}
.minus-bottom-margin{
	margin-bottom: -20px;
}
.human-recommendations{
	table-layout: fixed;
}
.human-recommendations tr {
	//background-color: #FFFFFF;
}
.human-recommendations tr:nth-child(10){
	//border-bottom-width: thick;
}
.human-recommendations tr:nth-child(-n+10){
    background-color: #ededff;
}
.human-recommendations-helper tr {
}
.human-recommendations tr:nth-child(n+11){
	color: #a9a9a9;
}
.human-recommendations-helper tr:nth-child(n+11){
	color: #bdbdbd;
}
.human-recommendations-helper tr:nth-child(10){
	//border-bottom-width: thick;
	//border-bottom-color: #d3d3d3;
}

.draggable-item{
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d3d3d3;
}
.not-draggable-item{
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;	
}
.no-padding {
	padding: 0px;
}
.human-recommendations td{
	padding: 0px;
}
.human-recommendations-helper td{
	padding: 0px;
}
.alg-recommendations{
	table-layout: fixed;
}
.alg-recommendations td{
	padding: 0px;
}
.bin-recommendations{
	table-layout: fixed;
}
.bin-recommendations td{
	padding: 0px;
}
.bin-recommendations tr{
	//background-color: #FFFFFF;
}
.alg-recommendations tr{
}
.human-table-box{
	font-size: 15px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-flex;
    width: 100%;
}
.ellipsis-span{
    overflow: hidden;
	white-space: nowrap;;
    text-overflow: ellipsis;
    width: 100%	
}
.ghost {
  	opacity: 0.4;
  	background-color: #e6e6e6;
  	color: #000000;
}
.drag-handle{
	text-align: center;
	width: 8%;
}
.drag-handle:hover{
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.title-handle{
	width: 80%;
}
.question-handle{
	width: 8%;
}
.transparent-button{
	background-color: transparent;
	border-color: transparent;
}
.transparent-button:focus {
	outline:0;
}
.human-recommendations-header{
	height: 55px;
	background-color: #4269bd;
}
.alg-recommendations-header{
	height: 55px;
	background-color: #02817c;
}
.bin-recommendations-header{
	height: 55px;
	background-color: #5c5c5c;
}
.radio-compound{
    width: 90px;
    text-align: center;
    display: inline-block;
}
.radio-compound-2{
    width: 20px;
    text-align: center;
    display: inline-block;
}
.radio-compound-3{
    text-align: center;
    display: inline-block;
}
.question-text{
	margin-bottom: 15px;
	font-weight: bold;
}
.free-form{
	width: 500px;
	height: 180px;
}
.task3Survey1ModuleTitleTab{
	border-right-style: solid;
	border-left-style: solid;
	border-width: thin;
	vertical-align:middle;
	padding: 5px;
	text-align: center;
	font-size: 13px;
}
.task3Survey1Tab{
	border-right-style: solid;
	border-left-style: solid;
	border-width: thin;
	vertical-align:middle;
	padding: 5px;
	font-size: 13px;
}
#all-modules-table tr:nth-child(even){
	background-color: #f2f2f2
}
#all-modules-table{
	table-layout: fixed;
}
.table-radio{
    width: 30px;
    text-align: center;
    display: inline-block;
}
.recommendations-table{
	table-layout: fixed;
}
.recommendations-table tr:nth-child(even){
	background-color: #f2f2f2;
}
.recommendations-table td{
	padding: 0px;
}
.table-box{
	font-size: 15px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-flex;
    width: 100%;
}
.table-box-2{
	font-size: 15px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.task3Survey2TitleContainer{
	margin-bottom: 0px;
    background-color: #d3d3d3;
    text-align: center;
    font-weight: bold;
}
.task3SmallTitleContainer{
    text-align: center;
    font-weight: bold;
    background-color: #d3d3d3;
    font-size: 13px;
    padding: 2px;
}
.task3QuestionContainer{
	text-align: center;
    /* margin-top: 0px; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #FFFFFF;
    background-color: #4269bd;
}
.noBottomMargin{
	margin-bottom: 0px;
}
.task3Survey2Radios{
	margin-top: 8px;
    margin-bottom: -5px;
}