//styling for aai login starting page
iframe {
    width: 100%;
    height: 160px;
    border: none;
}

//md 1050px
@media screen and (min-width: 1050px) {
    .equal, .equal > div[class*='col-'] {
        display: -webkit-flex;
        display: flex;
        flex: 1 1 auto;
    }
    .buttonBottom {
        position: absolute;
        bottom: 0px;
        margin-bottom: 35px;
        margin-left: 15px;
    }
}

@media screen and (min-width: 980px) {
    .warningTablet {
        display: none;
    }
}

//md 1050px
@media screen and (max-width: 1049px) {
    .buttonBottom {
        margin-bottom: 15px;
        margin-left: 15px;
    }
}

.padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.tooltipStarDetailView {
    width: 200px;
}

.panel {
    width: 100%;
}

.carousel-control {
    color: #4269BD;
}

.carousel > .carousel-control {
    top: 2%;
    bottom: auto;
    opacity: 1;
}

.carousel > .carousel-control > i {
    top: 0%;
}

.carousel-screenshot {
    max-height: 400px;
    padding: 0;
    margin-bottom: 40px;
    // border: 1px ridge;
    // border-color: #E3E7EA;
}

.progress {
    margin-bottom: 0px;
}

.b {
    font-weight: bold;
}

.grey {
    color: #333;
    background-color: #F5F5F5;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
}

//TODO should be changable in less...?
.bg-primary {
    color: #fff;
}

.danger {
    color: #A94442;
}

.carousel-indicators li {
    background: none repeat scroll 0% 0% #4269BD;
}

.carousel-indicators .active {
    background: none repeat scroll 0% 0% #A6C2FF; //#428BCA;
}

.panel-heading .nav {
    font-size: 15px;
}

td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    vertical-align: top;
}

.table > tbody > tr:first-child > td {
    border-top: none;
}

table {
    width: 100%;
}

th.sortable {
    min-width: 98px;
}

.comment-list:before {
    position: none;
    top: none;
    bottom: none;
    left: none;
    width: none;
    background: none;
    content: none;
}

.comment-list .comment-item .comment-body {
    margin-left: 0px;
}

.pieLabelBackground {
    border-radius: 4px;
}

#study-chart {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 5%;
}

.container {
    -webkit-box-shadow: 0 3px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 60px rgba(0, 0, 0, 0.3);
    height: 100%;
    padding: 0px;
}

.pointer, .sortable, .fc-event {
    cursor: pointer;
}

.drop-area {
    position: relative;
    width: 100%;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 2s;
}

.drop-area.show {
    max-height: 1600px;
    transition: 2s;
}

.navbar-brand.active {
    background-color: #355497;
}

.highlight {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition: all 0.2s ease-in;
}

.drag-item:hover {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

#regulation-settings {
    position: absolute;
    top: 5%;
    right: 5%;
    //opacity: 0;
}

#regulation-remove {
    position: absolute;
    top: 15%;
    right: 5%;
    //opacity: 0;
}

.regulation-box:hover #regulation-settings, .regulation-box:hover #regulation-remove {
    transition: opacity .8s ease-in;
    opacity: .8;
}

div.rateit.svg div.rateit-range {
    background: url('/images/rateit/star.svg');
}

div.rateit.svg.bigstars div.rateit-range {
    background-size: 40px 40px;
}

div.rateit.svg button.rateit-reset {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    background: url('/images/rateit/delete.svg');
}

div.rateit.svg button.rateit-reset:hover {
    background: url('/images/rateit/delete_active.svg');
}

div.rateit.svg[data-rateit-value="1"] div.rateit-selected, div.svg[data-rateit-hover-value="1"] div.rateit-hover {
    background: url('/images/rateit/star_1.svg');
}

div.rateit.svg[data-rateit-value="2"] div.rateit-selected, div.svg[data-rateit-hover-value="2"] div.rateit-hover {
    background: url('/images/rateit/star_2.svg');
}

div.rateit.svg[data-rateit-value="3"] div.rateit-selected, div.svg[data-rateit-hover-value="3"] div.rateit-hover {
    background: url('/images/rateit/star_3.svg');
}

div.rateit.svg[data-rateit-value="4"] div.rateit-selected, div.svg[data-rateit-hover-value="4"] div.rateit-hover {
    background: url('/images/rateit/star_4.svg');
}

div.rateit.svg[data-rateit-value="5"] div.rateit-selected, div.svg[data-rateit-hover-value="5"] div.rateit-hover {
    background: url('/images/rateit/star_5.svg');
}

div.rateit.svg.readonly div.rateit-selected {
    background: url('/images/rateit/star_readonly.svg');
}

div.rateit.svg.readonly.gold div.rateit-selected {
    background: url('/images/rateit/star_readonly_gold.svg');
}

div.rateit.svg.rated div.rateit-selected {
    background: url('/images/rateit/star_rated.svg');
}

div.rateit.svg.bigstars.readonly div.rateit-selected {
    background-size: 40px 40px;
}

div.rateit.svg.bigstars.rated div.rateit-selected {
    background-size: 40px 40px;
}

.spinner-wrapper {
    position: relative;
    height: 80px;
}

.record-copy-paste-column textarea {
    border: none;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 414px;
}

.record-copy-paste-preview {
    height: 200px;
    overflow-y: scroll;
}


/* module table */

th.sortable {
    cursor: pointer;
}

th[data-property='detail'] {
    width: 125px;
}

th[data-property='orgs'] {
    width: 260px;
}

th[data-property='ects'] {
    width: 90px;
}

th[data-property='ratingColumn'] {
    width: 160px;
}

th[data-property='link'] {
    width: 135px;
}

.wizard ul li.complete, .wizard ul li.complete:hover {
    color: #4269BD;
}

.main-content {
    margin-bottom: 60px;
}

.footer {
    padding: 10px 0;
    background: white;
    .uzh-logo {
        height: 50px;
    }
}