template(name='comment')
    article.comment-item
        section.comment-body.panel.panel-default
            header.panel-heading
                if positiveRating
                    .pull-left.text-muted
                        i.fa.fa-thumbs-up
                        | {{ rating }}
                else
                    .pull-left.text-muted
                        i.fa.fa-thumbs-down
                        | {{getRating rating }}
                span.text-muted.m-l-md
                    i.fa.fa-clock-o
                    | {{ createdAt }}
            .panel-body
                p.editable!=comment
                .comment-action.m-t-sm
                    if creator
                        a.btn.btn-default.btn-xs(data-toggle='modal', data-target='#edit-comment-modal')
                            i.fa.fa-edit.text-muted
                        +editCommentModal
                        a.btn.btn-default.btn-xs(data-toggle='modal', data-target='#remove-comment-modal')
                            i.fa.fa-trash-o.text-muted
                        +removeCommentModal
                    else
                        a.btn.btn-default.btn-xs(class='{{upvoted}}')#upvote-icon
                            i.fa.fa-thumbs-up
                        a.btn.btn-default.btn-xs(class='{{downvoted}}')#downvote-icon
                            i.fa.fa-thumbs-down

template(name='removeCommentModal')
    .modal.fade#remove-comment-modal(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')  
                        span(aria-hidden='true') ×
                    h4.modal-title {{ i18n 'removeComment' }}
                .modal-body.text-center
                    button.btn.btn-danger#remove-comment-button(data-dismiss='modal') {{ i18n 'remove' }}
                    button.btn(data-dismiss='modal') {{ i18n 'cancel' }}

template(name='editCommentModal')
    .modal.fade#edit-comment-modal(tabindex='-1', role='dialog', aria-labelledby='semester-modal-title', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')  
                        span(aria-hidden='true') ×
                    h4.modal-title {{ i18n 'editComment' }}
                .modal-body
                    +wysiwygEditor content=comment moduleId=moduleId
                .modal-footer
                    button.btn.btn-primary#edit-comment-button(type='button' data-dismiss='modal') {{{ i18n 'save' }}}
                    button.btn(type='button', data-dismiss='modal') {{{ i18n 'cancel'}}}
                    