template(name='registrationHeaderSelect')
    section.panel.panel-default.w
        #wizard.wizard.clearfix
            ul.steps
                +with(routeName='registrationWelcomePage')
                    +registrationHeaderTab
                        span.badge 1
                        div.plan
                            p {{ i18n 'stepOne' }}
                +with(routeName='registrationAAI')
                    +wizardHeaderTab
                        span.badge 2
                        div.plan
                            p {{ i18n 'stepTwo' }}
                +with(routeName='registrationFacebook')
                    +registrationHeaderTab
                        span.badge 3
                        div.plan
                            p {{ i18n 'stepThree' }}
                +with(routeName='registrationStudyInformation')
                    +registrationHeaderTab
                        span.badge 4
                        div.plan
                            p {{ i18n 'stepFour' }}
                +with(routeName='registrationModuleSelection')
                    +registrationHeaderTab
                        span.badge 5
                        div.plan
                            p {{ i18n 'stepFive' }}
                +with(routeName='registrationModuleRating')
                    +registrationHeaderTab
                        span.badge 6
                        div.plan
                            p {{ i18n 'stepSix' }}
                +with(routeName='registrationComplete')
                    +registrationHeaderTab
                        span.badge 7
                        div.plan
                            p {{ i18n 'stepSeven' }}


template(name='registrationHeaderSelectTab')
    +if isCompleted routeName
        a(href='{{ pathFor routeName }}')
            li(class='complete')
                +UI.contentBlock
    else
        li(class='{{ activeRouteClass routeName routeName2 }}')
            +UI.contentBlock