template(name='moduleSelectionWizard')
    +wizardHeader
        #step3.step-pane.active  
            with(i18nTitle='moduleSelectionTitle')
                +title
            .row
                .col-md-12
                    section.panel.panel-default
                        .panel-body
                            p {{{ i18n 'moduleSelectionPrompt' }}}
            if suggestedModules
                section.panel.panel-default
                    header.panel-heading.bg-light 
                        .row
                            .col-md-6.b {{ categoryTitle }}
                            .col-md-6
                                .pull-right.b.m-l#progressText {{ progress }}
                                .progress.progress.progress-striped 
                                    .progress-bar(style=progressWidth)  
                    .panel-body
                        if moreThanTenModules
                            unless zeroIndex
                                button.btn.btn-success.m-b-sm.pull-left#suggested-modules-back {{ i18n 'back' }}
                            button.btn.btn-success.pull-right.m-b-sm#suggested-modules-next {{ i18n 'next' }}
                        table.table
                            thead
                                tr
                                    th(width='5%') 
                                        unless allSelected
                                            i.fa.fa-check.pointer.text-success.select-all(data-toggle='tooltip' data-placement='right' title='{{ i18n "tooltipSelectAll" }}')
                                        else
                                            i.fa.fa-plus.pointer.unselect-all(data-toggle='tooltip' data-placement='right' title='{{ i18n "tooltipUnselectAll" }}')
                                    th(width='10%') {{ i18n 'moduleId' }}
                                    th(width='75%') {{ i18n 'title' }}
                                    th(width='10%') {{ i18n 'ects' }}
                            tbody
                                 each suggestedModules
                                    tr
                                        td
                                            if checked
                                                i.fa.fa-check.pointer.addModule.module-suggestion-checkbox.text-success(data-module-id=moduleId data-toggle='tooltip' data-placement='right' title='{{ i18n "tooltipDelete" }}')
                                            else
                                                i.fa.fa-plus.pointer.addModule.module-suggestion-checkbox(data-module-id=moduleId data-toggle='tooltip' data-placement='right' title='{{ i18n "tooltipAdd" }}')
                                        td {{ moduleId }}
                                        td {{ title }}
                                        td {{ ects }}
                        unless zeroIndex
                            button.btn.btn-success.pull-left#suggested-modules-back {{ i18n 'back' }}
                        button.btn.btn-success.pull-right#suggested-modules-next {{ i18n 'next' }}
            else
                section.panel.panel-default
                    header.panel-heading.bg-light 
                        .row 
                            .col-md-6
                                .b {{ i18n 'allModules' }}
                            .col-md-6
                                unless zeroIndex
                                    .pull-right.b.m-l#progressText {{ progress }}
                                    .progress.progress-striped 
                                        .progress-bar(style=progressWidth)  
                    .panel-body
                        .row
                            +moduleTable
                            button.btn.btn-success.m-l#suggested-modules-back {{ i18n 'back' }}
            .row.m-b
                .col-xs-12.m-t-lg
                    input#step3-back.btn.btn-success.pull-left(type='button', value=i18nBackToImportSelection)
                    input#step3-next.btn.btn-success.pull-right(type='button', value=i18nContinue, disabled=continueDisabled)
                    input#step3-copyRecord.btn.btn-success.pull-right.m-r-sm(type='button', value=i18nCopyRecordButton)    