template(name='task4Complete')
	+task4Header
	.padder.m-t
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default.instruction-panel
					.panel-body
						p You completed Task 4. Thank you very much.
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default
					.panel-body
						p {{{ i18n 'task4CompleteContent'}}}
					.panel-body
						input#logout.textButton(type='button', value='Logout')
		//.row
			//button.btn#debugReset Reset stored state
			//button.btn#randomTreatment Random Treatment   
