template(name='welcomePage')
	.padder 
		.section.panel.panel-default.m-t              
			.panel-body
				.row
					.col-md-6
						p {{{ i18n 'introductionWelcomePage'}}}
						ol 
							li {{i18n 'step1'}}
							li {{i18n 'step2'}}
							li {{i18n 'step3'}}
					.col-md-6
						p {{{ i18n 'warningOnlyWWF'}}}
		.row
			.col-md-12
				section.panel.panel-default
					.panel-body
						.checkbox
							label
								input#userAgreementCheckbox(type='checkbox')
								p {{{ i18n 'userAgreementAcceptCheckbox' }}}
						.checkbox
							label
								input#networkUserAgreementCheckbox(type='checkbox')
								p {{{ i18n 'networkUserAgreementAcceptCheckbox' }}}
						
		.row 
			.col-sm-12.m-b-lg
				input#step0-next.btn.btn-success.pull-right(type='button', value=i18nContinue, disabled=continueDisabled)

		.modal.fade#userAgreementModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(type="button" data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h2.modal-title {{ i18n 'userAgreement' }}
					.modal-body
						p {{{ i18n 'userAgreementContent' }}}
		
		.modal.fade#networkUserAgreementModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(type="button" data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h2.modal-title {{ i18n 'networkUserAgreement' }}
					.modal-body
						p {{{ i18n 'networkUserAgreementContent' }}}