/*
 * toast.js CSS
 */

.container {
  position: relative;
}

.toast {
  padding: 8px 35px 8px 14px;
  margin-bottom: 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 2px solid;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.toast:hover {
  cursor: pointer;
  box-shadow: #c7c7c7 0 0 8px;
}

#toast-container {
  width: 300px;
  top: 60px;
  right: 16px;
  position: absolute;
  z-index: 9999;
}

.toast-title {
  font-weight: bold;
}

.toast-message {
}

.toast-success {
  color: #131633;
  background-color: #BFD4FF;
  border-color: #9DBAF2;
}

.toast-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.toast-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.toast-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}


