template(name='registrationLogout')
	.padder.m-t
		.row
			.col-md-3.top-buffer
			.col-md-6.top-buffer
				section.panel.panel-default.instruction-panel
					.panel-body
						{{{ i18n 'registrationLogoutInfo' }}}
						
