template(name='task4Instructions')
	+task4Header
	.padder.m-t
		.col-md-2
		.col-md-8
			.row
				.col-md-12
					section.panel.panel-default.instruction-panel
						.panel-body
							{{{i18n 'task4InstructionsInformationOne'}}}{{firstName}}{{{ i18n 'task4InstructionsInformationTwo' }}}
			.row
				.col-md-12
					section.panel.panel-default
						.panel-body
							p In this task you will enter which modules you took in fall semester 2016 and rate how much you liked them.<br><br>Note: All data will be anonymized before being analyzed for research purposes. We do not disclose any personally identifiable information we gather about our users to any third parties for any purpose.
					.panel-body.text-center
							input#continue.btn.btn-success(type='button', value='Continue')

