template(name='task2Tutorial')
	+task2Header
	.padder.m-t
		.row
			.col-md-10
				section.panel.panel-default.instruction-panel(style='margin-top: -10px; margin-bottom: 5px; height: 70px;')
					.panel-body(style='padding-bottom: 0px; padding-top: 10px;')
						//p(style=' height: 40px;') {{{ tutorialInformation }}}
						p {{{ tutorialInformation }}}
			.col-md-2
				.panel-body(style='padding: 5px;text-align: center;')
					div(style='float: right;')
						input#tutorialNext.btn.btn-success(type='button', value=i18nNextButton, disabled=nextButtonDisable, style='visibility:{{nextButtonVisibility}}; float: right; margin-left: 3px;')
						input#tutorialBack.btn.btn-success(type='button', value=i18nBackButton, disabled=backButtonDisable, style='visibility:{{backButtonVisibility}}; float: left; margin-right: 3px;')
		.row
			if isFirst
				div.overlay-panel
			.col-md-6
				section.panel.panel-default#humanRecPanel
					.panel-body
						.row
							.col-md-12
								section.panel.panel-default
									.panel-body.human-recommendations-header
										img(src='https://thebenclark.files.wordpress.com/2014/03/facebook-default-no-profile-pic.jpg?w=1200' style='height: 45px; width: auto; float: left; position: absolute; margin-left: -10px; margin-top: -10px;')
										div(style='display: table; height: 25px; width: 100%;')
											p(style='color: #FFFFFF; vertical-align: middle; text-align: center; display: table-cell; font-size: 18px;')
												|Recommendations for your friend
						.row
							.col-md-1
								table.human-recommendations-helper#numTable(style='margin-left: -3px;')
									each ranks
										tr.not-draggable-item
											td.text-center
												div.human-table-box
													div(style='width:100%;height:100%;text-align:center;')
														| {{ number }}
							.col-md-10.no-padding
								table.human-recommendations#humRecTable
									each recommendations
										tr.draggable-item(data-id='{{moduleId}}')
											td.drag-handle
												div.human-table-box
													div(style='width:100%;height:100%;text-align:center;')
														i.fa.fa-arrows(style='line-height: 30px;')
											td.title-handle
												div.human-table-box(data-toggle='tooltip' data-placement='right' title='{{title}}')
													| {{ title }}
											td.question-handle
												div.human-table-box
													div(style='width:100%;height:100%;text-align:center;')
														button.btn.transparent-button.getInfo(data-toggle='tooltip' data-placement='right' title='Open module information in new tab')
															i.fa.fa-info-circle

							.col-md-1.no-padding
								table.human-recommendations-helper#removeTable
									each ranks
										tr.not-draggable-item
											td.text-center
												div.human-table-box
													div(style='width:100%;height:100%;text-align:center;')
														button.btn.transparent-button.removeItem(data-rank='{{number}}' data-toggle='tooltip' data-placement='right' title='Move module to recycle bin')
															i.fa.fa-trash-o

			.col-md-6
				section.panel.panel-default
					.panel-body
						.row
							.col-md-12
								section.panel.panel-default
									.panel-body.alg-recommendations-header
										.input-group(style='margin-top: -5px;')
											input.form-control#searchBox(type='text', placeholder='Search modules')
											.input-group-btn
												button.btn.btn-default#searchButton(style='height: 34px;')
													i.fa.fa-search
						.row
							.col-md-12
								.section.panel(style='height: 150px; overflow: auto; overflow-x: hidden;')
									table.alg-recommendations#algRecTable
										+sortable(items=algRecommendations sortField='order' animation=150 handle='.drag-handle' options=algRecommendationsOptions)
											tr.draggable-item(data-id="{{moduleId}}" data-title="{{title}}")		
												td.drag-handle
													div.human-table-box
														div(style='width:100%;height:100%;text-align:center;')
															i.fa.fa-arrows(style='line-height: 30px;')
												td.title-handle
													div.human-table-box(data-toggle='tooltip' data-placement='right' title='{{title}}')
														| {{ title }}
												td.question-handle
													div.human-table-box
														div(style='width:100%;height:100%;text-align:center;')
															button.btn.transparent-button.getInfo(data-toggle='tooltip' data-placement='right' title='Open module information in new tab')
																i.fa.fa-info-circle

				section.panel.panel-default
					.panel-body#binRecPanel
						.row
							.col-md-12
								section.panel.panel-default
									.panel-body.bin-recommendations-header
										div(style='display: table; height: 50px; width: 100%;')
											p(style='color: #FFFFFF; vertical-align: middle; text-align: center; font-size: 18px;') Recycling Bin						
						.row
							.col-md-12
								.section.panel(style='height: 150px; overflow: auto; overflow-x: hidden;')
									table.bin-recommendations#binTable
										each bins
											tr.draggable-item(data-id='{{moduleId}}')
												td.drag-handle
													div.human-table-box
														div(style='width:100%;height:100%;text-align:center;')
															i.fa.fa-arrows(style='line-height: 30px;')
												td.title-handle
													div.human-table-box(data-toggle='tooltip' data-placement='right' title='{{title}}')
														| {{ title }}
												td.question-handle
													div.human-table-box
														div(style='width:100%;height:100%;text-align:center;')
															button.btn.transparent-button.getInfo(data-toggle='tooltip' data-placement='right' title='Open module information in new tab')
																i.fa.fa-info-circle


