template(name='registrationStudyInformation')
	+registrationHeader
	.padder.m-t
		.row
			#step1.step-pane.active
				+studyProfileTemplate
		.row
			.col-md-12.withBottomMargin
				button#next.btn.btn-success.pull-right.disabled {{ i18n 'continue' }}
