template(name="calendar")
    if multipleLectures
        .alert.alert-error
            span {{{ i18n "multipleLecturesInfo" }}}
    .row  
        .col-xs-10.col-xs-offset-1
            .calendar#calendar
    .modal.fade#calendarModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal")
                        span(aria-hidden="true") &times;
                        span.sr-only Close
                    h4.modal-title#calendarModalLabel Modal title
                .modal-body
                    table.table.table-striped.b-t.b-light
                        tbody#scheduleTable
