template(name='semesterPlanRecommendations')
    with(title=planSemesterId)
        +title
    section.panel.panel-default
        with(semesterId=semesterId)
            +semesterPlanHeader
        .panel-body
            .tab-content
                .tap-pane.m-t-md
                    if mandatoryModulesExist
                        h3.font-thin.text-center {{ i18n 'mandatoryModules' }}
                        with(numberOfRecommendations=3 semesterId=semesterId addButton=true moreButton=false filter=mandatoryModulesFilter)
                            +recommendations
                        hr.m-b-lg

                    h3.font-thin.text-center {{ recommendationsTitle }}
                    with(numberOfRecommendations=10 semesterId=semesterId addButton=true showFilters=true moreButton=true)
                        +recommendations
