template(name='task3SurveyTwo')
	+task3Header
	.padder.m-t
		.row
			.col-md-12(style='margin-top: -10px; margin-bottom: -10px;')
				.section.panel.panel-default.instruction-panel
					.panel-body
						|{{{ task3Survey2Information }}}
		.row
			.col-md-6
				section.panel.panel-default
					.panel-body(style='padding:0px;')
						section.panel.panel-default.task3Survey2TitleContainer
							.panel-body(style='padding: 8px;')
								div
									| {{recommendationsLeftTitle}}
						.col-md-1(style='padding: 0px;')
							table.recommendations-table
								each recommendationRanks
									tr
										td
											div.table-box-2
												| {{rank}}
						.col-md-11(style='padding: 0px;')
							table.recommendations-table
								each recommendationsLeft
									tr
										td(style='width: 3%')
										td(style='width: 87%;')
											div.table-box(data-toggle='tooltip' data-placement='right' title='{{title}}')
												div.ellipsis-span
													| {{title}}
										td
											div.table-box
												div(style='width:100%;height:100%;text-align:center;')
													button.btn.transparent-button.getInfo(data-url='{{uzhUrl}}' data-pos='left' data-toggle='tooltip' data-placement='right' title='Open module information in new tab')
														i.fa.fa-info-circle
			.col-md-6
				section.panel.panel-default
					.panel-body(style='padding:0px;')
						section.panel.panel-default.task3Survey2TitleContainer
							.panel-body(style='padding: 8px;')
								div
									|{{recommendationsRightTitle}}
						.col-md-1(style='padding: 0px;')
							table.recommendations-table
								each recommendationRanks
									tr
										td
											div.table-box-2
												| {{rank}}
						.col-md-11(style='padding: 0px;')
							table.recommendations-table
								each recommendationsRight
									tr
										td(style='width: 3%')
										td(style='width: 87%;')
											div.table-box(data-toggle='tooltip' data-placement='right' title='{{title}}')
												div.ellipsis-span
													| {{title}}
										td
											div.table-box
												div(style='width:100%;height:100%;text-align:center;')
													button.btn.transparent-button.getInfo(data-url='{{uzhUrl}}' data-pos='right' data-toggle='tooltip' data-placement='right' title='Open module information in new tab')
														i.fa.fa-info-circle
		.row
			.col-md-12
				if introduction
					.section.panel
						.panel-body(style='text-align: center;')
							input#continue.btn.btn-success(type='button' value='Continue' style='margin-bottom: 20px;')
				else
					.col-md-12
						.section.panel.panel-default(style='margin-top: -10px;')
							.panel-body(style='padding: 0px;')
								.col-md-12.task3QuestionContainer
									| {{{currentQuestion}}}
								if standardQuestion
									if additionalTextInput
										div(style='text-align: center; padding-top: 20px;')
											p {{{comparisonText}}}
											textarea.free-form#element1
									else
										.col-md-6
											.section.panel.panel-default
												.panel-body(style='padding: 0px;')
													div.task3SmallTitleContainer
														|{{recommendationsLeftTitle}}
													div(style='text-align: center;')
														.md-radio-group(layout='row').task3Survey2Radios
															div.radio-compound-3(style='margin-right: -6px;')
																p.noBottomMargin Strongly disagree =
																p(style='color:#FFFFFF') Strongly disagree
															div.radio-compound-2
																p.noBottomMargin 1
																input#Element3(type="radio" name="RadioGroupOne" class='leftGroup' value='1')
															div.radio-compound-2
																p.noBottomMargin 2
																input#Element4(type="radio" name="RadioGroupOne" class='leftGroup' value='2')
															div.radio-compound-2
																p.noBottomMargin 3
																input#Element5(type="radio" name="RadioGroupOne" class='leftGroup' value='3')
															div.radio-compound-2
																p.noBottomMargin 4
																input#Element6(type="radio" name="RadioGroupOne" class='leftGroup' value='4')
															div.radio-compound-2
																p.noBottomMargin 5
																input#Element7(type="radio" name="RadioGroupOne" class='leftGroup' value='5')
															div.radio-compound-3(style='margin-left: -6px;')
																p.noBottomMargin = Strongly agree
																p(style='color:#FFFFFF') Strongly agree

										.col-md-6
											.section.panel.panel-default
												.panel-body(style='padding: 0px;')
													div.task3SmallTitleContainer
														|{{recommendationsRightTitle}}
													div(style='text-align: center;')
														.md-radio-group(layout='row').task3Survey2Radios
															div.radio-compound-3(style='margin-right: -6px;')
																p.noBottomMargin Strongly disagree = 
																p(style='color:#FFFFFF') Strongly disagree
															div.radio-compound-2
																p.noBottomMargin 1
																input#Element3(type="radio" name="RadioGroupTwo" class='rightGroup' value='1')
															div.radio-compound-2
																p.noBottomMargin 2
																input#Element4(type="radio" name="RadioGroupTwo" class='rightGroup' value='2')
															div.radio-compound-2
																p.noBottomMargin 3
																input#Element5(type="radio" name="RadioGroupTwo" class='rightGroup' value='3')
															div.radio-compound-2
																p.noBottomMargin 4
																input#Element6(type="radio" name="RadioGroupTwo" class='rightGroup' value='4')
															div.radio-compound-2
																p.noBottomMargin 5
																input#Element7(type="radio" name="RadioGroupTwo" class='rightGroup' value='5')
															div.radio-compound-3(style='margin-left: -6px;')
																p.noBottomMargin = Strongly agree
																p(style='color:#FFFFFF') Strongly agree
								else
									.col-md-12
										.section.panel.panel-default
											.panel-body
												div(style='text-align: center;')
													select#sel1(name='dropdown{{order}}' selected='selected')
														option(value='' style='display:none;') Select your answer
														option Most likely Recommendation List A
														option I am unsure
														option Most likely Recommendation List B
												div(style='text-align: center; padding-top: 20px;')
													p <b>Please explain your answer.</b>
													textarea.free-form#element2

								.col-md-12(style='text-align: center;')
									div
										if backVisible
											//input#back.btn.btn-default(type='button' value='Back' style='margin-bottom: 20px; margin-right: 2px; width: 90px;')
											input#continue.btn.btn-success(type='button' value=continueName style='margin-bottom: 20px; margin-left: 2px; width: 90px;' disabled=continueDisabled)
										else
											input#continue.btn.btn-success(type='button' value='Continue' style='margin-bottom: 20px;' disabled=continueDisabled)											




