template(name='registrationComplete')
	+registrationHeader
	.padder.m-t
		.row
			.col-md-12
				section.panel.panel-default.instruction-panel
					.panel-body
						{{{ i18n 'registrationCompleteInformation' }}}
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default
					.panel-body
						p {{{ i18n 'registrationCompleteContent1' }}} {{{mail}}} {{{ i18n 'registrationCompleteContent2' }}}
						p {{{ i18n 'registrationCompleteContent3' }}}
						p 
							| {{{ i18n 'registrationCompleteContent4' }}}
							span#numFriends <strong>none</strong> <b>of your Facebook friends</b> have
							| {{{ i18n 'registrationCompleteContent5' }}}
						p {{{ i18n 'registrationCompleteContent6' }}}
					//.panel-body
						//input#restartModules.textButton(type='button', value='Update your study information, modules, or ratings')
					//.panel-body
						//input#resendMail.textButton(type='button', value='Resend confirmation email')
					.panel-body
						input#logout.textButton(type='button', value='Logout')
					//.panel-body
						//button.btn#debugErase Debug Erase Profile
			.col-md-2
