template(name='studyProfileWizard')
    +wizardHeader
        #step1.step-pane.active
            +studyProfileTemplate
            .row
                .col-sm-12
                    button#next.btn.btn-success.pull-right.disabled {{ i18n 'continue' }}