template(name='semesterPlanOverview')
    with(i18nTitle=semesterId)
        +title
    section.panel.panel-default
        with(semesterId=semesterId)
            +semesterPlanHeader
        .panel-body
            .tab-content
                .tap-pane.m-t-md
                    if plannedModules.length
                        table.table
                            thead
                                tr
                                    th(width='5%')
                                    th(width='15%') {{ i18n 'moduleId' }}
                                    th(width='47%') {{ i18n 'modules' }}
                                    th(width='25%') {{ getTitlePrediction }} 
                                    th.text-right(width='8%') {{ i18n 'ects' }}
                            tbody
                                each plannedModules
                                    tr
                                        td
                                            i.fa.fa-times.pointer.removeModule(data-module-id="{{moduleId}}" data-toggle="tooltip" data-placement="right" data-original-title=i18nTooltipDelete)
                                        td.p-b-md
                                            a(href='/module-detail/{{moduleId}}') {{ moduleId }}
                                        td {{ title }}
                                        td
                                            if rating
                                                .div(data-toggle='tooltip' data-placement='left' data-original-title='{{rating}}')
                                                    .rateit.readonly.svg.rated(id='{{moduleId}}', data-rateit-value='{{rating}}', data-rateit-ispreset='true', data-rateit-readonly='true')
                                            else
                                                .div(data-toggle='tooltip' data-placement='left' data-original-title='{{prediction}}')
                                                    .rateit.readonly.svg(id='{{moduleId}}', data-rateit-value='{{prediction}}', data-rateit-ispreset='true', data-rateit-readonly='true')
                                        td.text-right {{ ects }} {{ i18n 'ects' }}
                                tr.b-t
                                    td
                                    td
                                        strong {{ i18n 'total' }}
                                    td
                                    td
                                    td.text-right
                                        strong {{ totalEcts }} {{ i18n 'ects' }}
                    else
                        | {{ i18n 'noModulesPlanned' }}

