<template name="Select2">
    <select
        id="{{id}}"
        data-placeholder="{{placeholder}}"
        class="{{styles}}"
        tabindex="{{tabindex}}"
        multiple="{{multiple}}">
            {{#if placeholder }}
            <option></option>
            {{/if}}
            {{> UI.contentBlock }}
    </select>
</template>
