template(name='copyPasteImportWizard')
    +wizardHeader
        #step3.step-pane.active
            with(i18nTitle='insertAttendedModules')
                +title
            +copyPasteImportTemplate
            .row
                .col-xs-12
                    input#step3-back.btn.btn-success.pull-left.m-r-sm(type='button', value=i18nback)
                    input#save.btn.btn-success.pull-right(type='button', value=i18nContinue, disabled)
                    input#step3-manualSelection.btn.btn-success.pull-right.m-r-sm(type='button', value=i18nManualSelectionButton)
