template(name='semesterPlanModules')
    with(i18nTitle=semesterId)
        +title
    section.panel.panel-default
        with(semesterId=semesterId)
            +semesterPlanHeader
        .panel-body
            .tab-content
                .tap-pane.m-t-md
                    +moduleTable