template(name='task2Complete')
	+task2Header
	.padder.m-t
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default.instruction-panel
					.panel-body
						{{{ i18n 'task2CompleteInformation' }}}
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default
					.panel-body
						p {{{ i18n 'task2CompleteContentOne'}}}{{matchFirstName}}{{{ i18n 'task2CompleteContentTwo'}}}{{{ i18n 'task2CompleteContentThree'}}}
					.panel-body
						input#logout.textButton(type='button', value='Logout')
		//.row
			//button.btn#debugReset Debug Reset   
