template(name='studyPlanTable')
    with(title=dynamicTitle)
        +title
    .row
        .col-md-12
            a(href="{{pathFor 'studyPlan' _id=getStudyId}}") 
                button.btn.btn-success {{ i18n 'back' }}
            button#csvExport.btn.btn-success.pull-right {{ i18n 'csvExport' }}
    .row
        .col-md-12       
            table.table
                thead
                    tr
                        th(width='10%') {{ i18n 'regulation' }}
                        th(width='15%') {{ i18n 'moduleAbbreviation'}}
                        th(width='30%') {{ i18n 'title'}}
                        th(width='5%')  {{ i18n 'ects'}}
                        th(width='10%') {{ i18n 'passed'}} 
                        th(width='10%') {{i18n 'total'}} 
                        th(width='10%') 

                tbody
                    each regulations
                        tr.b-t.b-b.b-2x
                            td(colspan="3") {{ name }}
                            td
                            td {{ regulationCompletedEcts }}
                            td {{ ects }}
                            td {{i18n 'ects'}}
                        +regulationRowPrint
                    tr.b-t.b-b.b-3x
                        td(colspan="4")
                            strong {{ i18n 'total' }}
                        td {{ totalCompletedEcts }}
                        td {{ totalEcts }}
                        td {{i18n 'ects'}}


template(name='regulationRowPrint')
    each regulationModules modules
        tr.b-b
            td
            td 
                a(href='/module-detail/{{moduleId}}') {{ moduleId }}
            td {{ title }}
            td {{ ects }}   
            td
            td
            td
    each regulationSelfDefinedModules selfDefinedModules
        tr.b-b
            td
            td
            td {{ name }}
            td {{ ects }}
            td
            td 
            td

