template(name='registrationImportMethod')
    +registrationHeader
    .padder.m-t
        .row
            .col-md-12
                section.panel.panel-default.instruction-panel
                    .panel-body
                        {{{ i18n 'registrationImportMethodInformation' }}}
        .row
            .col-md-12
                #step2.step-pane.active
                    with(location="registration")
                        +importMethodTemplate 
                    .row
                        .col-md-12
                            a(href="{{pathFor 'registrationStudyInformation'}}")
                                button.btn.btn-success.pull-left {{ i18n 'back' }}
