template(name='copyPasteImportProfile')
    with(i18nTitle='insertAttendedModules')
            +title
    +copyPasteImportTemplate
    .row.m-b-md
        .col-md-12
            input#save.btn.btn-success.pull-right(type='button', value=i18nAddModules, disabled)