template(name='networkUserAgreement')
    with(i18nTitle='newNetworkUserAgreement')
            +title
    .col-xs-12(style='overflow: scroll; overflow-x: hidden; height: 75%;')
        div {{{ i18n 'networkUserAgreementContent' }}}
    .col-xs-12.m-t-md
        .text-center
            button.btn.btn-success.m-b-md#acceptButton {{{ i18n 'acceptButtonOptional' }}}
            button.btn.btn-danger.m-b-md.m-l-md#denyButton {{{ i18n 'denyButton' }}}    