template(name='userAgreement')
    with(i18nTitle='newUserAgreement')
            +title
    .col-xs-12(style='overflow: scroll; overflow-x: hidden; height: 75%;')
        div {{{ i18n 'userAgreementContent' }}}
    .col-xs-12.m-t-md
        .text-center
            button.btn.btn-success.m-b-md#acceptButton {{{ i18n 'acceptButton' }}}   