template(name='copyPasteImportTemplate')
    .row
        .col-md-12
            section.panel.panel-default
                .panel-body
                    p {{{ i18n 'copyPastePromptShortcutKeys' }}}
                    a(href=studentRecordUrl, target='blank')
                        button.btn.btn-success.m-t-sm 
                            span {{ i18n 'toRecord' }}
                    p.warningTablet.m-t {{{ i18n 'warningImportTablet' }}}
    .row
        .col-md-12.record-copy-paste-column
            section.panel.panel-default
                textarea(id='summaryOfCredits', placeholder=i18nInsertArea)
        .col-md-4.record-copy-paste-preview-column.hidden
            .record-copy-paste-preview.alert.alert-info
                strong {{ i18n 'previewRecognisedModules' }}
                ul#recognised-modules
        .col-md-4.record-copy-paste-preview-column.hidden
            .record-copy-paste-preview.alert.alert-danger
                strong {{ i18n 'previewUnknownModules' }}
                ul#unknown-modules