template(name='wizardHeader')
    section.panel.panel-default.w
        #wizard.wizard.clearfix
            ul.steps
                +with(routeName='studyProfileWizard')
                    +wizardHeaderTab
                        span.badge 1
                        | {{ i18n 'studyProfile' }}
                +with(routeName='importMethodWizard')
                    +wizardHeaderTab
                        span.badge 2
                        | {{ i18n 'selectModuleSelectionMethod' }}
                +with(routeName='moduleSelectionWizard' routeName2='copyPasteImportWizard')
                    +wizardHeaderTab
                        span.badge 3
                        | {{ i18n 'moduleSelectionStep' }}
                +with(routeName='moduleRatingWizard')
                    +wizardHeaderTab
                        span.badge 4
                        | {{ i18n 'rateModulesStep' }}

        .step-content
            +UI.contentBlock


template(name='wizardHeaderTab')
    +if isCompleted routeName
        a(href='{{ pathFor routeName }}')
            li(class='complete')
                +UI.contentBlock
    else
        li(class='{{ activeRouteClass routeName routeName2 }}')
            +UI.contentBlock