template(name='importMethodTemplate')
	.row.equal
		.col-md-6
			section.panel.panel-default
				header.panel-heading {{ i18n 'insertAttendedModules' }}
				.panel-body
					p {{ i18n 'copyRecordArguments' }}
				.buttonBottom
					input#step2-next-copyPaste.btn.btn-success(type='button', value=i18nCopyRecordButton)
					i.fa.fa-clock-o.m-l-md 
					| {{ i18n '1-3min' }}
		.col-md-6
			section.panel.panel-default
				header.panel-heading {{ i18n 'manualSelectionTitle' }}
				.panel-body
					p {{ i18n 'manualSelectionArguments' }}
					.m-t-lg
						input#step2-next-manualSelection.btn.btn-success(type='button', value=i18nManualSelectionButton)
						i.fa.fa-clock-o.m-l-md 
						| {{ i18n '5-10min' }}