template(name='task3Complete')
	+task3Header
	.padder.m-t
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default.instruction-panel
					.panel-body
						{{{ i18n 'task3CompleteInformation' }}}
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default
					.panel-body
						p {{{ i18n 'task3CompleteContent'}}}
					.panel-body
						input#logout.textButton(type='button', value='Logout')
		//.row
			//button.btn#debugReset Reset stored state
			//button.btn#randomTreatment Random Treatment   
