template(name='registrationCopyPasteImport')
    +registrationHeaderCopy
    .padder.m-t
        .row
            .col-md-12
                #step3.step-pane.active
                    .col-md-12
                        section.panel.panel-default.instruction-panel
                            .panel-body
                                {{{ i18n 'copyPasteInformation' }}}
                    +copyPasteImportTemplate
                    .row
                        .col-md-12.withBottomMargin
                            input#step3-back.btn.btn-success.pull-left.m-r-sm(type='button', value=i18nback)
                            input#save.btn.btn-success.pull-right(type='button', value=i18nContinue, disabled)
                            input#step3-manualSelection.btn.btn-success.pull-right.m-r-sm(type='button', value=i18nManualSelectionButton)
