template(name='importMethodProfile')
    with(i18nTitle='selectModuleSelectionMethod')
        +title
    .row
        .col-md-12
            section.panel.panel-default
                .panel-body
                    p {{ i18n 'importMethodProfile' }}
    with(place="profile")
                +importMethodTemplate 
    