template(name='task3Instructions')
	+task3Header
	.padder.m-t
		.col-md-2
		.col-md-8
			.row
				.col-md-12
					section.panel.panel-default.instruction-panel
						.panel-body
							{{{i18n 'task3InstructionsInformationOne'}}}{{firstName}}{{{ i18n 'task3InstructionsInformationTwo' }}}
			.row
				.col-md-12
					section.panel.panel-default
						.panel-body
							p {{{i18n 'task3InstructionsContent1'}}}{{matchPartnerFullName}}{{{i18n 'task3InstructionsContent2'}}}
					.panel-body.text-center
							input#continue.btn.btn-success(type='button', value='Continue')

