template(name='moduleSelectionProfile')
    with(i18nTitle='moduleSelectionTitle')
        +title
    .row
        .col-md-12
            section.panel.panel-default
                .panel-body
                    p {{{ i18n 'moduleSelectionProfile' }}}
    .row
        .col-md-12
            section.panel.panel-default
                .panel-body
                    +moduleTable
    .row.m-b-md
        .col-md-12
            button#finish.btn.btn-success.pull-right {{ i18n 'nextModuleImport' }}
