template(name='wysiwygEditor')
    .btn-toolbar.m-b-sm.btn-editor(data-role='editor-toolbar', data-target='#wysiwyg-editor')
        .btn-group
            a.btn.btn-default.btn-sm(data-edit='bold', title='', data-original-title='Bold (Ctrl/Cmd+B)')
                i.fa.fa-bold
            a.btn.btn-default.btn-sm(data-edit='italic', title='', data-original-title='Italic (Ctrl/Cmd+I)')
                i.fa.fa-italic
            a.btn.btn-default.btn-sm(data-edit='strikethrough', title='', data-original-title='Strikethrough')
                i.fa.fa-strikethrough
            a.btn.btn-default.btn-sm(data-edit='underline', title='', data-original-title='Underline (Ctrl/Cmd+U)')
                i.fa.fa-underline
        .btn-group
            a.btn.btn-default.btn-sm(data-edit='insertunorderedlist', title='', data-original-title='Bullet list')
                i.fa.fa-list-ul
            a.btn.btn-default.btn-sm(data-edit='insertorderedlist', title='', data-original-title='Number list')
                i.fa.fa-list-ol
            a.btn.btn-default.btn-sm(data-edit='outdent', title='', data-original-title='Reduce indent (Shift+Tab)')
                i.fa.fa-dedent
            a.btn.btn-default.btn-sm(data-edit='indent', title='', data-original-title='Indent (Tab)')
                i.fa.fa-indent
        .btn-group
            a.btn.btn-default.btn-sm(data-edit='undo', title='', data-original-title='Undo (Ctrl/Cmd+Z)')
                i.fa.fa-undo
            a.btn.btn-default.btn-sm(data-edit='redo', title='', data-original-title='Redo (Ctrl/Cmd+Y)')
                i.fa.fa-repeat
    #wysiwyg-editor.form-control(style='overflow:scroll;height:150px;max-height:150px', contenteditable='true')
