template(name='semesterPlanHeader')
    header.panel-heading.bg-light.hidden-print
        ul.nav.nav-tabs.nav-justified
            li(class="{{ activeRouteClass 'semesterPlanRecommendations' }}")
                a(href='/semester-plan/{{semesterId}}/recommendations') {{ i18n 'titleRecommendationsPlanner' }}
            li(class="{{ activeRouteClass 'semesterPlanModules' }}")
                a(href='/semester-plan/{{semesterId}}/modules') {{ i18n 'titleSelectModulesPlanner' }}
            li(class="{{ activeRouteClass 'semesterPlanOverview' }}")
                a(href='/semester-plan/{{semesterId}}/overview') {{ i18n 'titlePlannedModules' }}
                    span.badge.bg-success.badgePlannedModules {{nrPlannedModules}}
            li(class="{{ activeRouteClass 'semesterPlanCalendar' }}")
                a(href='/semester-plan/{{semesterId}}/calendar') {{ i18n 'titleSchedule' }}

