template(name='studyPlan')
    if regulations
        with(title=dynamicTitle)
            +title
        .row
            .col-md-6
                #study-chart
            .col-md-6
                table.table
                    thead
                        tr
                            th(width='50%') {{ i18n 'regulation' }}
                            th.text-right(width='20%') {{ i18n 'passed'}}
                            th.text-right(width='20%') {{i18n 'total'}}
                            th(width='10%')
                    tbody
                        each regulations
                            tr
                                td {{ name }}
                                td.text-right {{ regulationCompletedEcts }}
                                td.text-right {{ ects }}
                                td.text-right {{ i18n 'ects' }}
                        tr.b-t.b-b.b-3x
                            td(width='60%')
                                strong {{ i18n 'total' }}
                            td.text-right(width='20%') {{ totalCompletedEcts }}
                            td.text-right(width='20%') {{ totalEcts }}
                            td.text-right(width='10%') {{ i18n 'ects' }}
        .row
            .col-xs-12
                .panel.panel-default
                    header.panel-heading.bg-light
                        ul.nav.nav-tabs.pull-right
                            li
                                a.pointer#new-regulation
                                    i.fa.fa-plus
                                    span {{ i18n 'createNewRegulation' }}
                            li
                                a(href="{{pathFor 'studyPlanTable' _id=getStudyId}}")
                                    i.fa.fa-table
                                    span {{ i18n 'tableOverview' }}   
                            li
                                a#csvExport(href="#")
                                    i.fa.fa-arrow-circle-down
                                    span {{ i18n 'csvExport' }} 
                            li
                                a#example(href="#")
                                    i.fa.fa-question-circle
                                    span {{ i18n 'example' }}                     
                        span.hidden-sm {{ i18n 'yourRegulation' }}
                    .m-t-md
                    each regulations
                        +regulationRow
                        unless last
                            .row
                                .col-xs-12
                                        hr.m-lg.b-3x
    else
        .row
            .col-md-10.col-md-offset-1.m-t-lg
                .panel.panel-default
                    .panel-body
                        if isBsc
                            with(i18nTitle='planYourBscStudy')
                                +title
                        else
                            with(i18nTitle='planYourMscStudy')
                                +title
                        .text-center
                            img(src=studyPlanImg width='80%' data-toggle='tooltip' data-placement='right' data-original-title='{{ i18n "studyPlanTooltip" }}')
                        .panel.panel-default.m-t-lg
                            .panel-body {{ i18n 'studyPlanIntroduction'}}
                        .text-center.m-lg
                            button.btn.btn-success.pointer#new-regulation {{ i18n 'createNewRegulation' }}
                            i.fa.fa-question-circle.pointer.m-l-sm(data-toggle='tooltip' data-placement='right' data-original-title='{{ i18n "studyPlanTooltip2" }}')
    .modal.fade#create-modal(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal')
                        span(aria-hidden='true') &times;
                    h4.modal-title#create-modal-title
                .modal-body
                    form#create-modal-form(role='form' data-event='' data-regulation-id='')
                        .form-group
                            p {{i18n 'name' }}:
                            input.form-control(id='regulation-name-input' type='text' name='name' required)
                        .form-group
                            p {{i18n 'numberOfECTS'}}:
                            input.form-control(id='regulation-ects-input' type='number' step='.5' min='0' name='ects' placeholder='{{ i18n "ects" }}' required)
                        button.btn.btn-sm.btn-default#create-modal-submit(type='submit')
    .modal.fade#select-modules-modal(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')  
                        span(aria-hidden='true') ×
                    h4.modal-title {{ i18n 'selectModules' }}
                .modal-body
                    table.table.b-t.b-light
                        tbody
                            each modules
                                tr
                                    td(width='10%')
                                        if checked
                                            i.fa.fa-check.pointer.addModule.module-select-checkbox.text-success(data-module-id=moduleId)
                                        else
                                            i.fa.fa-plus.pointer.addModule.module-select-checkbox(data-module-id=moduleId)
                                    td(width='20%') {{ regulation }}
                                    td(width='10%')
                                            a(href='/module-detail/{{moduleId}}') {{ moduleId }}
                                    td(width='60%') {{ title }}
    .modal.fade#show-example-modal(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')  
                        span(aria-hidden='true') ×
                    h4.modal-title {{ i18n 'example' }}
                .modal-body
                    img(src=studyPlanImg width='80%')
    +removeModal


template(name='regulationRow')
    .drop-item(data-study-id='{{studyId}}' data-regulation-id='{{id}}')
        .row
            .col-xs-3
                +regulationBox
                .text-center
                    .inline
                        table.table
                            tbody
                                tr.pointer.add-modules
                                    td
                                        i.fa.fa-plus
                                    td.text-left {{ i18n 'addModule'}}
                                tr.pointer.add-self-defined-module(data-regulation-id='{{id}}')
                                    td
                                        i.fa.fa-plus
                                    td.text-left {{ i18n 'createNewSelfDefinedModule' }}
            .col-xs-9
                table.table.b-light.m-t-sm
                    tbody
                        each regulationModules modules
                            tr
                                td(width='5%')
                                    i.fa.fa-times.pointer.remove-module-regulation(data-module-id="{{moduleId}}")
                                td(width='5%')
                                    a(href='/module-detail/{{moduleId}}') {{ moduleId }}
                                td(width='10%') {{ ects }} {{ i18n 'ects' }}    
                                td(width='80%')
                                    .drag-item(data-module-id='{{moduleId}}' draggable='true') {{ title }}
                        each regulationSelfDefinedModules selfDefinedModules
                            tr
                                td(width='5%')
                                    i.fa.fa-times.pointer.remove-self-defined-module(data-self-module-id="{{id}}" data-module-id=moduleId)
                                td(width='5%')
                                    i.fa.fa-cog.fa-fw.pointer.edit-self-defined-module(data-self-module-id="{{id}}" data-module-id=moduleId)
                                td(width='10%') {{ ects }} {{ i18n 'ects' }}
                                td(width='80%')
                                    .drag-item(data-self-module-id='{{id}}' draggable='true') {{ name }}
