template(name='task2Survey')
	+task2Header
	.padder.m-t
		.row
			.col-md-1
			.col-md-10
				section.panel.panel-default.instruction-panel
					.panel-body
						|{{{i18n 'task2SurveyInformation'}}}{{{matchFirstName}}}{{{i18n 'task2SurveyInformationTwo'}}}
		.row
			.col-md-1
			.col-md-10
				section.panel.panel-default
					.panel-body
						p.question-text{{{i18n 'task2SurveyQuestionFourOne'}}} {{{matchFirstName}}}{{{i18n 'task2SurveyQuestionFourTwo'}}}
						div(style='text-align: center;')
							textarea.free-form#element10
				section.panel.panel-default
					.panel-body
						p.question-text{{{i18n 'task2SurveyQuestionFiveOne'}}}{{{matchFirstName}}}{{{i18n 'task2SurveyQuestionFiveTwo'}}}
						div(style='text-align: center;')
							textarea.free-form#element11
				section.panel.panel-default
					.panel-body
						p.question-text{{{i18n 'task2SurveyQuestionSix'}}}
						div(style='text-align: center;')
							textarea.free-form#element12
				section.panel.panel-default
					.panel-body
						p.question-text{{{i18n 'task2SurveyQuestionSeven'}}}
						div(style='text-align: center;')
							textarea.free-form#element13
				section.panel.panel-default
					.panel-body
						p.question-text{{{i18n 'task2SurveyQuestionEight'}}}
						div(style='text-align: center;')
							textarea.free-form#element14
				section.panel.panel-default
					.panel-body
						p.question-text{{{i18n 'task2SurveyQuestionNine'}}}
						div(style='text-align: center;')
							textarea.free-form#element15
				section.panel.withBottomMargin					
					input#continue.btn.btn-success(type='button' value='Submit' style='float: right;')

