template(name='task3Header')
    section.panel.panel-default.w
        #wizard.wizard.clearfix
            ul.steps
                +with(routeName='task3Instructions')
                    +task2HeaderTab
                        span.badge 1
                        div.plan
                            div(style='width:100%')
                                p {{ i18n 'task3StepOne' }}
                +with(routeName='task3SurveyOne')
                    +task2HeaderTab
                        span.badge 2
                        div.plan
                            div(style='width:100%')
                                p {{ i18n 'task3StepTwo' }}
                +with(routeName='task3SurveyTwo')
                    +registrationHeaderTab
                        span.badge 3
                        div.plan
                            p {{ i18n 'task3StepThree' }}
                +with(routeName='task3SurveyThree')
                    +registrationHeaderTab
                        span.badge 4
                        div.plan
                            p {{ i18n 'task3StepFour' }}
                +with(routeName='task3SurveyFour')
                    +registrationHeaderTab
                        span.badge 5
                        div.plan
                            p {{ i18n 'task3StepFive' }}
                +with(routeName='task3Complete')
                    +registrationHeaderTab
                        span.badge 6
                        div.plan
                            p {{ i18n 'task3StepSix' }}


template(name='task3HeaderTab')
    +if isCompleted routeName
        a(href='{{ pathFor routeName }}')
            li(class='complete')
                +UI.contentBlock
    else
        li(class='{{ activeRouteClass routeName routeName2 }}')
            +UI.contentBlock