template(name="facebookReminder")
    .row
        .col-md-12
            ol.faq-navigation
            .panel.panel-default#faq01
                .panel-heading
                    .b {{ i18n 'facebookReminderText' }}
                .panel-body
                    .row.equal
                        .panel-body
                            p {{ i18n 'facebookReminderReassurance' }}
                    .row
                        .col-md-6
                            .panel-body(align='center')
                                button#FBLogin(type='submit' style='margin-top: 2%; margin-bottom: 3%; color:#fff; background:#627aac; border: solid 1px #000000; font-family: arial, sans-serif;font-size: 16px; border-radius: 3px;padding:5px;') Login via <b>Facebook</b>
                        .col-md-6
                            .panel-body(align='center' style='margin-top: 5%;')
                                a.pointer#noFBLogin {{ i18n 'sayNoToFb'}}
