template(name='moduleTable')
    if nofilters
        .col-xs-12.col-sm-12#tableModules
            +table
    else
        .col-xs12.col-sm-3#filters
            section.hbox.stretch
                .col-xs-12.m-t-md
                    .input-group.search.datagrid-search
                        input.form-control(type='text', placeholder=i18nSearch)
                        .input-group-btn
                            button.btn.btn-default
                                i.fa.fa-search
                //.col-xs-12.m-t-lg#study-field-filter
                //    +Select2 filterStudyFieldSelector
                //        -filterStudyFieldSelectorOptions
                //if studyFieldSelected
                //    .col-xs-12.m-t-xs#filter-module-categories
                //       +Select2 filterModuleCategorySelector
                //            -filterModuleCategorySelectorOptions
                //.col-xs-12.m-t-md#semester-filter
                //    +Select2 filterSemesterSelector
                //        -filterSemesterSelectorOptions
                //.col-xs-12.m-t-md#org-unit-filter
                //    +Select2 filterOrgUnitSelector
                //        -filterOrgUnitSelectorOptions
        .col-xs-12.col-sm-9#tableModules
            +table
            


template(name='table')
        .table-responsive
            table#module-table.table.datagrid.m-b-sm
                thead
                tfoot: tr: th.row
                    .datagrid-footer-left.col-sm-6.text-center-xs.m-l-n(style='display:none;')
                        .grid-controls.m-t-sm
                            span.m-r-sm
                                span.grid-start
                                | -
                                span.grid-end
                                | {{ i18n 'of' }}
                                span.grid-count
                            .select.grid-pagesize.dropup(data-resize='auto')
                                button.btn.btn-sm.btn-default.dropdown-toggle(data-toggle='dropdown')
                                    span.dropdown-label
                                    span.caret
                                ul.dropdown-menu
                                    li(data-value='5')
                                        a.pointer 5
                                    li(data-value='10')
                                        a.pointer 10
                                    li(data-value='20')
                                        a.pointer 20
                                    li(data-value='50', data-selected='true')
                                        a.pointer 50
                                    li(data-value='100')
                                        a.pointer 100
                            span {{ i18n 'perPage' }}
                    .datagrid-footer-right.col-sm-6.text-right.text-center-xs(style='display:none;')
                        .grid-pager.m-r-n
                            button.btn.btn-sm.btn-default.grid-prevpage(type='button')
                                i.fa.fa-chevron-left
                            span {{ i18n 'page' }}
                            .inline
                                .input-group.dropdown.combobox
                                    input.input-sm.form-control(type='text')
                                    .input-group-btn.dropup
                                        button.btn.btn-sm.btn-default(data-toggle='dropdown')
                                            i.caret
                                        ul.dropdown-menu.pull-right
                            span
                                | {{ i18n 'of' }}
                                span.grid-pages
                            button.btn.btn-sm.btn-default.grid-nextpage(type='button')
                                i.fa.fa-chevron-right