template(name='simpleModuleTable')
    table.table.b-t.b-light(style='border:none;')
        thead
            tr
                th.b-none(width='15%') {{ i18n 'moduleId' }}
                th {{ i18n 'modules' }}
                th(width='10%') {{ i18n 'avgRating' }}
        tbody
            each modules
                tr
                    td
                        a(href='/module-detail/{{moduleId}}') {{ moduleId }}
                    td
                        div {{ title }}
                    td
                        div(data-toggle='tooltip', data-placement='left', title='{{avgRating}} - {{ numberRatings }} {{ i18nratings }}')
                            if golden
                                .rateit.readonly.svg.gold(id='{{moduleId}}', data-rateit-value='{{avgRating}}', data-rateit-ispreset='true', data-rateit-readonly='true')
                            else
                                .rateit.readonly.svg(id='{{moduleId}}', data-rateit-value='{{avgRating}}', data-rateit-ispreset='true', data-rateit-readonly='true')