template(name='registrationFacebook')
	+registrationHeader
	.padder.m-t
		.row
			.col-md-12
				section.panel.panel-default.instruction-panel
					.panel-body
						{{{ i18n 'registrationFacebookInformation' }}}
		.row
			.col-md-12
				section.panel.panel-default
					.panel-body.text-center
						input#connectButton.btn.btn-success(type='button', value=i18nConnect)
