template(name='task3SurveyOne')
	+task3Header
	.padder.m-t
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default.instruction-panel
					.panel-body
						|{{{i18n 'task3SurveyOneInformation'}}}
			.col-md-2
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default
					.panel-body
						p.question-text<b>{{{i18n 'task3Survey1Question1'}}}{{matchFirstName}}{{{i18n 'task3Survey1Question2'}}}</b>
						div(style='text-align: center;')
							.md-radio-group(layout='row')
								div.radio-compound
									p Not at all = 1
									input#Element3(type="radio" class='radGr' name="RadioGroup" value='1')
								div.radio-compound
									p 2
									input#Element4(type="radio" class='radGr' name="RadioGroup" value='2')
								div.radio-compound
									p 3
									input#Element5(type="radio" class='radGr' name="RadioGroup" value='3')
								div.radio-compound
									p 4
									input#Element6(type="radio" class='radGr' name="RadioGroup" value='4')
								div.radio-compound
									p 5 = Very well
									input#Element7(type="radio" class='radGr' name="RadioGroup" value='5')
				section
					input#submit.btn.btn-success(type='button' value='Submit' style='float: right; margin-bottom: 20px;' disabled=continueDisabled)
			.col-md-2

