template(name='task2Instructions')
	+task2Header
	.padder.m-t
		.col-md-2
		.col-md-8
			.row
				.col-md-12
					section.panel.panel-default.instruction-panel
						.panel-body
							{{{i18n 'task2InstructionsInformationOne'}}}{{firstName}}{{{ i18n 'task2InstructionsInformationTwo' }}}
			.row
				.col-md-12
					section.panel.panel-default
						.panel-body
							p {{{i18n 'task2InstructionsContentOne'}}} {{matchName}}.
						.panel-body
							div.panel.panel-default(style='padding: 5px; width: 400px; height: 110px; margin: auto;')
								img(src="{{profilePictureLink}}" style='float: left; height: 99px; width: auto; max-width: 140px;')
								div(style='float: right; width: 240px; display: table; height: 100px;')
									p(style='vertical-align: middle; text-align: center; display: table-cell; font-size: 18px; max-width: 240px;') {{matchName}}
						.panel-body
							p {{matchFirstName}}{{{i18n 'task2InstructionsContentThree'}}}{{matchFirstName}}{{{i18n 'task2InstructionsContentFour'}}}{{matchFirstName}}{{{i18n 'task2InstructionsContentFive'}}}
						.panel-body.text-center
							input#startTutorial.btn.btn-success(type='button', value=i18nStartTutorial)

