template(name='studyProfileTemplate')
    .row
        .col-md-8.col-md-offset-2
            section.panel.panel-default
                .panel-body
                    #current-study-profile
                        section.panel.panel-default.instruction-panel
                            .panel-body
                                {{ i18n 'registrationStudyInformationCurrent' }}
                        #current-dropdown.panel-body
                            with (id='current-faculty-selector')
                                +facultySelector
    .row
        .col-md-8.col-md-offset-2
            section.panel.panel-default
                .panel-body
                    #future-study-profile
                        section.panel.panel-default.instruction-panel
                            .panel-body
                                {{ i18n 'registrationStudyInformationNext' }}
                        #future-dropdown.panel-body
                            with (id='future-level-selector')
                                +futureLevelSelector


template(name='facultySelector')
    .faculty-selector
        h4 {{ i18n 'studyProfileFaculty' }}
        +Select2 id=id placeholder=i18nFaculty class='select2' value=faculty
            each faculties
                option(value=slug, selected=selected)= title

template(name='studyCourseSelector')
    .study-course-selector
        h4 {{ i18n 'studyProfileStudyCourse' }}
        +Select2 id=id placeholder=i18nStudyCourse class='select2'
            each studyCourse
                option(value=slug, selected=selected)= title

template(name='levelSelector') 
    .level-selector
        h4 {{ i18n 'studyProfileLevel' }}
        +Select2 id=id placeholder=i18nLevel class='select2'
            each levels
                option(value=slug, selected=selected)= title

template(name='fieldSelector')
    .field-selector
        h4 {{ i18n 'studyProfileField' }}
        +Select2 id=id placeholder=i18nField class='select2'
            each fields
                    option(value=slug, selected=selected)= title

template(name='futureLevelSelector')
    .future-level-selector
        h4 {{ i18n 'studyProfileLevel' }}
        +Select2 id='futureDropDown' placeholder='Degree' class='select2'
            each levels
                    option(value=slug, selected=selected)= title
