template(name='task3SurveyFour')
	+task3Header
	.padder.m-t
		.row
			.col-md-1
			.col-md-10
				section.panel.panel-default.instruction-panel
					.panel-body
						| Please answer all questions as well as you can.
		.row
			.col-md-1
			.col-md-10
				section.panel.panel-default
					.panel-body
						p.question-text 1. Please describe what you think makes up a good list of course recommendations.
						div(style='text-align: center;')
							textarea.free-form#element1
				section.panel.panel-default
					.panel-body
						p.question-text 2. Do you think that having received course recommendations today will influence your selection of courses for the Fall Semester 2016? If yes, please describe how.
						div(style='text-align: center;')
							textarea.free-form#element2
				section.panel.panel-default
					.panel-body
						p.question-text 3. What additional information (other than a list of recommended courses) would help you select your courses? 
						div(style='text-align: center;')
							textarea.free-form#element3
				section.panel.panel-default
					.panel-body
						p.question-text 4. Imagine that we would offer access to a similar course recommendation system again next semester but without financial compensation. Would you want to provide recommendations to and receive recommendations from your friends again? Please explain why or why not. 
						div(style='text-align: center;')
							textarea.free-form#element4
				section.panel.panel-default
					.panel-body
						p.question-text 5. Please describe the people <u>for whom you could give</u> good/useful course recommendations. 
						div(style='text-align: center;')
							textarea.free-form#element5
				section.panel.panel-default
					.panel-body
						p.question-text 6. Please describe the people <u>who could give</u> good/useful course recommendations for you. 
						div(style='text-align: center;')
							textarea.free-form#element6
				section.panel.panel-default
					.panel-body
						p.question-text 7. Do you have any other comments? 
						div(style='text-align: center;')
							textarea.free-form#element7

				section.panel
					input#continue.btn.btn-success(type='button' value='Submit' style='float: right; margin-bottom: 20px;')

