template(name='removeModal')
    .modal.fade#remove-modal(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')  
                        span(aria-hidden='true') ×
                    h4.modal-title#remove-title
                .modal-body.text-center
                    button.btn.btn-danger#remove-button {{ i18n 'remove' }}
                    button.btn(data-dismiss='modal') {{ i18n 'cancel' }}