template(name='semesterPlanCalendar')
    with(i18nTitle=semesterId)
        +title
    section.panel.panel-default
        with(semesterId=semesterId)
            +semesterPlanHeader
        .panel-body
            .tab-content
                .tap-pane
                    with(semesterPlanId=semesterPlanId)
                        +calendar
                    .text-center.m-t-lg.m-b-md.hidden-print
                        span
                            button.btn.btn-success.btn-sm#export-button {{ i18n 'icsExport' }}
                            i.fa.fa-question-circle.pointer.m-l-sm(data-toggle='tooltip' data-placement='right' data-original-title='{{ i18n "exportTooltip" }}')
                    section.panel.panel-default.hidden-print
                        .panel-body
                            p {{{i18n 'textSemesterPlanCalendar'}}} 
                    .row.m-t-md.hidden-print
                        .col-xs-12
                            section.panel.panel-default
                                .panel-body
                                    if modules.length
                                        table.table.table-striped.b-t.b-light
                                            thead
                                                tr
                                                    th(width='5%')
                                                    th(width='5%') {{ i18n 'moduleId' }}
                                                    th(width='50%') {{ i18n 'modules' }}
                                                    th(width='40%') 
                                                        | {{ i18n 'selectedLectures' }} 
                                                        i.fa.fa-question-circle.pointer.m-l-sm(data-toggle='tooltip' data-placement='right' data-original-title='{{ i18n "tooltipSelectCourses" }}')
                                                each modules
                                                    tr
                                                        td(width='5%')
                                                            i.pointer.fa.fa-times.removeModule(data-module-id='{{moduleId}}' data-toggle="tooltip" data-placement="right" data-original-title='{{ i18n "tooltipDelete" }}')
                                                        td(width='5%') 
                                                            a(href='/module-detail/{{moduleId}}') {{ moduleId }}
                                                        td(width='55%') {{ title }}
                                                            if multipleLectures
                                                                i.fa.fa-exclamation-circle.danger.m-l-sm.pointer.pull-right(data-toggle='tooltip' data-placement='right' data-original-title='{{ i18n "multipleLecturesTooltip" }}')
                                                        td(width='35%')
                                                            +Select2 availableLecturesSelector moduleId
                                                                -lectureOptions
