template(name="modules")
    with(i18nTitle='browseModules')
        +title
    .row
        .col-md-12
            section.panel.panel-default
                .panel-body {{i18n 'textmodules'}}
    .row
        .col-md-12
            section.panel.panel-default
                .panel-body
                    +moduleTable