template(name='task3SurveyThree')
	+task3Header
	.padder.m-t
		.row
			.col-md-12
				section.panel.panel-default.instruction-panel
					.panel-body
							|{{{i18n 'task3Survey3Information'}}}

				section.panel(style='overflow-y: scroll;background-color: #4269bd; color: #FFFFFF; margin-top: -10px;')
					table.table
						each header
							tr
								td.task3Survey1ModuleTitleTab
									|Module Title
								td.task3Survey1Tab(style='width: 9%')
									|Have you already taken this module?
								td.task3Survey1Tab(style='width: 9%')
									|Did you know of this module before today?
								td.task3Survey1Tab(style='width: 12%')
									|Were you planning to take this module before today?
								td.task3Survey1Tab(style='width: 13%')
									|Please rate how well this module fits your interests.
								td.task3Survey1Tab(style='width: 21%')
									|Would taking this module bring you closer to your degree, independent of your interests?
				section.panel(style='margin-top: -20px;height: 420px; overflow: auto;')
					table.table#all-modules-table
						each modules
							tr(data-moduleId='{{moduleId}}')
								td.task3Survey1ModuleTitleTab
									div.table-box(data-toggle='tooltip' data-placement='right' title='{{title}}')
										div.ellipsis-span(style='text-align: left; font-size: 13px;')
											|{{ title }}
										button.btn.transparent-button.getInfo(data-url='{{uzhUrl}}' data-toggle='tooltip' data-placement='right' title='Open module information in new tab')
											i.fa.fa-info-circle
								td.task3Survey1Tab(style='width: 9%')
									div
										.md-radio-group(layout='row' style='text-align: center;')
											div(style='text-align: center;')
												p.noBottomMargin Already taken
												input#Element1(type="checkbox" class='surveyCheckbox' name="checkboxId{{order}}" data-rowId='{{order}}')
								td.task3Survey1Tab(style='width: 9%')
									div.question-container
										.md-radio-group(layout='row' style='text-align: center;')
											div.table-radio
												p.noBottomMargin Yes
												input.rad1#Element1(type="radio" name="RadioGroup1{{order}}" value='1' data-rowId='{{order}}')
											div.table-radio
												p.noBottomMargin No
												input.rad1#Element2(type="radio" name="RadioGroup1{{order}}" value='0' data-rowId='{{order}}')
								td.task3Survey1Tab(style='width: 12%')
									div.question-container.question-container-2
										.md-radio-group(layout='row' style='text-align: center;')
											div.table-radio
												p.noBottomMargin Yes
												input.rad2#Element1(type="radio" name="RadioGroup2{{order}}" value='1')
											div.table-radio
												p.noBottomMargin No
												input.rad2#Element2(type="radio" name="RadioGroup2{{order}}" value='0')
								td.task3Survey1Tab(style='width: 13%')
									div.question-container(style='text-align: center;')
										select.sel1(name='dropdown{{order}}' selected='selected')
											option(value='' style='display:none;') Select
											option 1 = Not at all
											option 2
											option 3
											option 4
											option 5 = Very well
								td.task3Survey1Tab(style='width: 21%')
									div.question-container
										.md-radio-group(layout='row' style='text-align: center;')
											div.table-radio
												p.noBottomMargin Yes
												input.rad3#Element1(type="radio" name="RadioGroup3{{order}}" value='1')
											div.table-radio
												p.noBottomMargin No
												input.rad3#Element2(type="radio" name="RadioGroup3{{order}}" value='0')


				input#continue.btn.btn-success(type='button' value='Submit' style='float: right; margin-bottom: 20px;' disabled=missingAnswers)
