<script type="text/javascript">
// https://wayf.switch.ch/SWITCHaai/WAYF/embedded-wayf.js/snippet.html
if (window.location.host.indexOf('accpt.core.ifi.uzh.ch') > -1) {
    var wayf_sp_entityID = "https://accpt.core.ifi.uzh.ch/shibboleth";
    var wayf_sp_handlerURL = "https://accpt.core.ifi.uzh.ch/Shibboleth.sso";
    var wayf_return_url = "https://accpt.core.ifi.uzh.ch/";
    var wayf_sp_samlDSURL = "https://accpt.core.ifi.uzh.ch/Shibboleth.sso/Login";
} else {
    var wayf_sp_entityID = "https://core.ifi.uzh.ch/shibboleth";
    var wayf_sp_handlerURL = "https://core.ifi.uzh.ch/Shibboleth.sso";
    var wayf_return_url = "https://core.ifi.uzh.ch/";
    var wayf_sp_samlDSURL = "https://core.ifi.uzh.ch/Shibboleth.sso/Login";
}
var wayf_URL = "https://wayf.switch.ch/SWITCHaai/WAYF";
var wayf_hide_categories = new Array("uas", "hospital", "library", "tertiaryb", "uppersecondary", "vho", "others");
var wayf_unhide_idps = new Array();
var wayf_hide_idps = new Array();
var wayf_use_improved_drop_down_list = true;
var wayf_auto_redirect_if_logged_in = true;
</script>
<script type="text/javascript" src="https://wayf.switch.ch/SWITCHaai/WAYF/embedded-wayf.js"></script>
<noscript>
<!--
            Fallback to Shibboleth DS Session Initiator for non-JavaScript users
            Value of the target GET parameter should be set to an URL-encoded
            absolute URL that points to a Shibboleth protected web page where the user
            is logged in into your application.
-->
<p>
<strong>Login:</strong> Javascript is not enabled for your web browser. Please use the
<a href="/Shibboleth.sso/DS?target=https%3A%2F%2Fcore.ifi.uzh.ch%2F">non-Javascript Login</a>.
</p>
</noscript>