template(name='recommendations')
    if showFilters
        .row.m-b-xs
            .col-xs-4#module-type-filter
                +Select2 filterModuleCategorySelector
                    -filterModuleCategorySelectorOptions
            .col-xs-4#ects-filter
                +Select2 filterEctsSelector
                    -filterEctsSelectorOptions
            .col-xs-4#lecturer-filter
                +Select2 filterWeekdaysSelector
                    -filterWeekdaysSelectorOptions
    table.table.b-light
        thead
            tr
                if addButton
                    th(width='5%')
                th(width='15%') {{ i18n 'moduleId' }}
                th(width='50%') {{ i18n 'modules' }}
                if addButton
                    th(width='30%', colspan="2") {{ getTitlePrediction }}
                else
                    th(width='35%', colspan="2") {{ getTitlePrediction }}
        tbody
            if isUpdating
                tr
                    td(colspan='5')
                        .text-center.m-t-lg {{{ i18n 'calculatingRecommendations' }}}
                        .spinner-wrapper
                            +spinner
            else
                each modules
                    tr
                        if ../addButton
                            td(width='5%')
                                i.fa.fa-plus.pointer.addModule(data-module-id=moduleId data-toggle="tooltip" data-placement="right" data-original-title='{{ i18n "tooltipAdd" }}')
                        td(width='15%')
                            a(href='/module-detail/{{moduleId}}') {{ moduleId }}
                        td(width='40%')
                            div {{ title }}
                        td(width='12%')
                            div(data-toggle='tooltip', data-placement='top', title=prediction)
                                with(moduleId=moduleId modulePrediction=prediction)
                                    +predictionColumn
                        td(width='12%')
                            button.btn.btn-default.btn-xs.text-right.not-interested-button(data-module-id=moduleId) {{ i18n 'notInterested' }}
                else
                    tr
                        td(colspan='5')
                            .m-t {{{ i18n 'noRecommendations' }}}
            if moreButton
                tr
                    td(colspan='5')
                        .row
                            .col-md-3
                                button.btn.btn-success.m-t-lg#show-more {{ i18n 'showMoreModules' }}
                            if showLessButton
                                .col-md-3
                                    button.btn.btn-success.m-t-lg#show-less {{ i18n 'showLessModules' }}

template(name='predictionColumn')
    .rateit.readonly.svg(id='{{moduleId}}', data-rateit-value=modulePrediction, data-rateit-ispreset='true', data-rateit-readonly='true')
