template(name='task2SurveyOne')
	+task2Header
	.padder.m-t
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default.instruction-panel
					.panel-body
						|{{{i18n 'task2SurveyOneInformation'}}}{{{matchFullName}}}{{{i18n 'task2SurveyOneInformationTwo'}}}
		.row
			.col-md-2
			.col-md-8
				section.panel.panel-default
					.panel-body
						p.question-text<b>{{{i18n 'task2SurveyQuestionThree'}}}{{{matchFirstName}}}?</b>
						div
							input#element1(type='radio' name='RadioGroupOne' value='University' style='margin-left:10px; margin-right:10px; margin-left: 35px; float: left;')
							p I know {{{matchFirstName}}} from university
						div
							input#element2(type='radio' name='RadioGroupOne' value='Elsewhere' style='margin-left:10px; margin-right:10px; margin-left: 35px; float: left;')
							p I know {{{matchFirstName}}} from elsewhere
				section.panel.panel-default
					.panel-body
						p.question-text<b>{{{i18n 'task2SurveyQuestionTwo'}}}{{{matchFirstName}}}?</b>
						div(style='text-align: center;')
							.md-radio-group(layout='row')
								div.radio-compound
									p 1 = Not at all
									input#Element3(type="radio" name="RadioGroupTwo" value='1')
								div.radio-compound
									p 2
									input#Element4(type="radio" name="RadioGroupTwo" value='2')
								div.radio-compound
									p 3
									input#Element5(type="radio" name="RadioGroupTwo" value='3')
								div.radio-compound
									p 4
									input#Element6(type="radio" name="RadioGroupTwo" value='4')
								div.radio-compound
									p 5 = Very well
									input#Element7(type="radio" name="RadioGroupTwo" value='5')
				section.panel.panel-default
					.panel-body
						p.question-text<b>{{{i18n 'task2SurveyQuestionOne'}}}{{{matchFirstName}}}.</b>
						div(style='text-align: center;')
							.md-radio-group(layout='row')
								div.radio-compound
									p 1 = Not at all
									input#Element8(type="radio" name="RadioGroupThree" value='1')
								div.radio-compound
									p 2
									input#Element9(type="radio" name="RadioGroupThree" value='2')
								div.radio-compound
									p 3
									input#Element10(type="radio" name="RadioGroupThree" value='3')
								div.radio-compound
									p 4
									input#Element11(type="radio" name="RadioGroupThree" value='4')
								div.radio-compound
									p 5 = Very well
									input#Element12(type="radio" name="RadioGroupThree" value='5')
				if missingAnswers
					section.panel.panel-default.instruction-panel(style='text-align: center; padding: 20px; background-color: #FF0000;')
						| Please answer questions 1, 2, 3 to before continuing.
				section.panel
					input#continue.btn.btn-success(type='button' value='Submit' style='float: right; margin-bottom: 20px;')

