template(name='moduleDetail')
    with(title=module.title)
        +title
    .row
        .col-md-6
            .row
                .col-md-12
                    section.panel.panel-default
                        if rating
                            header.panel-heading.bg-light {{ i18n 'rating' }}
                            .panel-body
                                .div.tooltipStarDetailView(data-toggle='tooltip' data-placement='right' data-original-title='{{rating}}')
                                    .rateit.readonly.svg.bigstars.rated(id='{{module.moduleId}}', data-rateit-value='{{rating}}', data-rateit-ispreset='true', data-rateit-readonly='true', data-rateit-starwidth='40', data-rateit-starheight='40')
                        else
                            header.panel-heading.bg-light {{ getTitlePrediction }}
                            .panel-body
                                .div.tooltipStarDetailView(data-toggle='tooltip' data-placement='right' data-original-title='{{prediction}}')
                                    .rateit.readonly.svg.bigstars(id='{{module.moduleId}}', data-rateit-value='{{prediction}}', data-rateit-ispreset='true', data-rateit-readonly='true', data-rateit-starwidth='40', data-rateit-starheight='40')
            .row
                .col-md-12
                    section.panel.panel-default
                        header.panel-heading.bg-light {{ i18n 'information' }}
                        .panel-body
                            table.table
                                tr
                                    td(width='40%') {{ i18n 'semester' }}
                                    td(width='60%') {{ i18n semester }}
                                tr.b-t
                                    td(width='40%') {{ i18n 'moduleId' }}
                                    td(width='60%') {{ module.moduleId }}
                                tr.b-t
                                    td(width='40%') {{ i18n 'lecturers' }}
                                    td(width='60%') {{ lecturers }}
                                tr.b-t
                                    td(width='40%') {{ i18n 'ectsP'}}
                                    td(width='60%') {{ module.ects }}
                                tr.b-t
                                    td(width='40%') {{ i18n 'lectures' }}
                                    td(width='60%')
                                        each lectures
                                            div {{ date }}
                                tr.b-t
                                    td(width='40%') {{ i18n 'rooms' }}
                                    td(width='60%') {{ rooms }}
                                tr.b-t
                                    td(width='40%') {{ i18n 'language' }}
                                    td(width='60%') {{ module.language }}
                                tr.b-t.b-b
                                    td(width='40%') {{ i18n 'description' }}
                                    td(widht='60%')!=description
                            .text-center
                                button.btn.btn-success.btn-sm#openVVZ {{ i18n 'openvvz' }}
            .row
                .col-xs-12
                    section.panel.panel-default
                        header.panel-heading.bg-light {{ i18n 'overview' }}
                        .panel-body
                            .b-b.m-b-md
                                h4 {{ i18n 'semesterPlanning' }}
                            if notInCurrentSemester
                                .m-b-md {{ i18n 'notInCurrentSemester' }}
                            else
                                if inSemesterPlan
                                    section.panel.panel-default
                                        .panel-body {{ i18n 'alreadyInSemesterPlan' }} {{ i18n semester }}
                                            .text-center.m-t-md
                                                button.btn.btn-danger.btn-sm#remove-from-semester-plan {{ i18n 'removeFromSemesterPlan' }}
                                else
                                    section.panel.panel-default
                                        .panel-body {{ i18n 'notInSemesterPlan' }}
                                            .text-center.m-t-md
                                                button.btn.btn-success.btn-sm#add-to-semester-plan {{ i18n 'addToSemesterPlan' }} {{ i18n semester }}

                            .b-b.m-b-md
                                h4 {{ i18n 'studyPlanning' }}
                            if unrated
                                section.panel.panel-default
                                    .panel-body {{ i18n 'notInStudyPlan' }}
                                        .text-center.m-t-md
                                            button.btn.btn-success.btn-sm#add-to-study-plan {{ i18n 'addToStudyPlan' }}
                            else
                                section.panel.panel-default
                                    .panel-body
                                        .row
                                            .col-md-6
                                                +Select2 studySelector
                                                    -studySelectorOptions
                                            if studySelected
                                                .col-md-6
                                                    +Select2 regulationSelector
                                                        -regulationSelectorOptions
                                        .text-center.m-t-md
                                            button.btn.btn-danger.btn-sm#remove-from-study-plan {{ i18n 'removeFromStudyPlan' }}

        .col-md-6
            section.panel.panel-default
                header.panel-heading.bg-light {{ i18n 'comments' }}
                .panel-body
                    if comments.length
                        div.select.filter(data-resize='auto')
                            button.btn.btn-sm.btn-default.dropdown-toggle(data-toggle='dropdown')
                                span.dropdown-label {{ i18n 'bestRated' }}
                                span.caret
                            ul.dropdown-menu
                                li#sort-by-best-rated
                                    a.pointer {{ i18n 'bestRated' }}
                                li#sort-by-most-recent
                                    a.pointer {{ i18n 'mostRecent' }}
                    if comments.length
                        section.comment-list.block.m-t-md
                            each comments
                                +comment
                    else
                        | {{ i18n 'noComments' }}
                    if uncommented
                        .text-center.m-t-md
                                button.btn.btn-success.btn-sm#add-comment {{ i18n 'writeComment' }}
                        section#writeCommentPanel(style='display: none')
                            +wysiwygEditor
                            .text-center.m-t-md
                                button.btn.btn-success.btn-sm#add-comment-button {{ i18n 'create' }}
                                button.btn.btn-danger.btn-sm#back-button {{ i18n 'cancel' }}
    +removeModal

