template(name='importMethodWizard')
    +wizardHeader
        #step2.step-pane.active
            with(i18nTitle='selectModuleSelectionMethod')
                +title
            .row
                .col-md-12
                    section.panel.panel-default
                        .panel-body
                            p {{ i18n 'importMethodPrompt' }}
            with(location="wizard")
                +importMethodTemplate 
            .row
                .col-md-12
                    a(href="{{pathFor 'studyProfileWizard'}}")
                        button.btn.btn-success.pull-left {{ i18n 'back' }}
