template(name='facts')
    .row.m-t-md
        .col-xs-12
            ul
                li Number of Ratings: {{ numberOfRatings }}
                li Number of Users: {{ numberOfUsers }}
                li Number of Users with more than 1 Rating: {{ numberOfUsersWithRating }}
                li Number of Economics Students: {{ numberOfOecStudents }}
                li Number of Informatics Students: {{ numberOfIfiStudents }}
    .row.m-t-md
        .col-xs-12
            +serverFacts
