template(name='registrationWelcomePage')
	+registrationHeader
	.padder.m-t
		.row
			.col-md-12
				section.panel.panel-default.instruction-panel
					.panel-body
						{{{ i18n 'registrationWelcomePageInformation' }}}
		.row
			.col-md-12
				section.panel.panel-default
					.padder.m-t
						.row
							.col-md-2.minus-margin
								.panel-body
									p {{{ i18n 'agreementRequirements' }}}
							.col-md-10.minus-margin
								.panel-body
									p {{{ i18n 'agreementRequirementsContent' }}}
						.row
							.col-md-2
								.panel-body.minus-margin
									p {{{ i18n 'agreementTasks' }}}
							.col-md-10
								.panel-body.minus-margin
									p {{{ i18n 'agreementTasksContent' }}}
						.row
							.col-md-2
								.panel-body.minus-margin
									p {{{ i18n 'agreementCompensation' }}}
							.col-md-10
								.panel-body.minus-margin
									p {{{ i18n 'agreementCompensationContent' }}}
						.row
							.col-md-2
								.panel-body.minus-margin
									p {{{ i18n 'agreementPrivacy' }}}
							.col-md-10
								.panel-body.minus-margin
									p {{{ i18n 'agreementPrivacyContent' }}}
						.row
							.col-md-2
							.col-md-8.minus-margin
								.panel-body
									.checkbox
										label
										input#participationAgreementCheckbox(type='checkbox')
										p {{{ i18n 'participationAgreementCheckbox' }}} 
							.col-md-2
								input#agreementButton.btn.btn-success.pull-right(type='button', value=i18nContinue, disabled=isDisabled)