template(name='task4Header')
    section.panel.panel-default.w
        #wizard.wizard.clearfix
            ul.steps
                +with(routeName='task4Instructions')
                    +task2HeaderTab
                        span.badge 1
                        div.plan
                            div(style='width:100%')
                                p Instructions
                +with(routeName='task4ModuleSelection')
                    +task2HeaderTab
                        span.badge 2
                        div.plan
                            div(style='width:100%')
                                p Select Modules
                +with(routeName='task4ModuleRating')
                    +registrationHeaderTab
                        span.badge 3
                        div.plan
                            p Rate Modules
                +with(routeName='task4Complete')
                    +registrationHeaderTab
                        span.badge 5
                        div.plan
                            p Complete


template(name='task4HeaderTab')
    +if isCompleted routeName
        a(href='{{ pathFor routeName }}')
            li(class='complete')
                +UI.contentBlock
    else
        li(class='{{ activeRouteClass routeName routeName2 }}')
            +UI.contentBlock