template(name='moduleRatingProfile')
    .drop-area.text-center
        if regulations 'bsc'
            .row
                .col-xs-12
                    h3 {{ i18n 'bachelor' }}
            .row
        each regulations 'bsc'
            .col-md-3
                .drop-item(data-study-id='{{studyId}}' data-regulation-id='{{id}}')
                    +regulationBox
                
        if regulations 'msc'
            .row
                .col-xs-12
                    hr.m-lg.b-a.b-2x
                    h3 {{ i18n 'master' }}
            .row
        each regulations 'msc'
            .col-md-3
                .drop-item(data-study-id='{{studyId}}' data-regulation-id='{{id}}')
                    +regulationBox
    .drag-area
        with(i18nTitle='moduleRatingTitle')
            +title
        .row.equal
            .col-md-6
                section.panel.panel-default
                    header.panel-heading {{ i18n 'titleModuleRatingLeft' }}
                    .panel-body
                        .pull-right
                            .easypiechart(data-percent=getRatingPercent data-scale-color='#fff' data-bar-color='#4E7AC7' data-line-width='7' data-loop='false' data-size='80' data-animate='2000')
                                span.step {{getRatingPercent}}%
                        p {{{ i18n 'textModuleRatingLeft' }}}
            .col-md-6
                section.panel.panel-default
                    header.panel-heading {{ i18n 'titleModuleRatingRight' }}
                    .panel-body
                        p {{{ i18n 'textModuleRatingRight' }}}
        .row
            .col-md-12
                section.panel.panel-default
                    .panel-body
                        if modules.length
                            table.table.b-t.b-light
                                if hasRegulations
                                    thead
                                        tr
                                            th(width='5%')
                                            th(width='15%') {{ i18n 'regulation'}}   
                                            th(width='14%') {{ i18n 'moduleId' }}
                                            th(width='52%') {{ i18n 'title' }}
                                            th(width='14%') {{ i18n 'rating' }}
                                                i.fa.fa-question-circle.m-l-sm.pointer(data-toggle='tooltip' data-placement='left' title='{{ i18n "toolTipRating" }}')
                                    tbody
                                        each modules
                                            tr
                                                td
                                                    i.fa.fa-times.pointer.remove-module(data-module-id="{{moduleId}}" data-toggle='tooltip' data-placement='right' title='{{ i18n "tooltipDeleteSelection" }}')
                                                td {{getArea moduleId}}        
                                                td
                                                        a(href='/module-detail/{{moduleId}}') {{ moduleId }}
                                                td
                                                    .drag-item(data-module-id='{{moduleId}}' draggable='true') {{ title }}
                                                td
                                                    div(data-toggle='tooltip', data-placement='left', title=i18ntootltipStars)
                                                        with(moduleId=moduleId moduleRating=rating)
                                                            .rateit.svg.pointer(id='{{moduleId}}', data-rateit-value='{{moduleRating}}', data-rateit-ispreset='true')
                                else
                                    thead
                                        tr
                                            th(width='5%')    
                                            th(width='15%') {{ i18n 'moduleId' }}
                                            th(width='65%') {{ i18n 'title' }}
                                            th(width='15%') {{ i18n 'rating' }}
                                                i.fa.fa-question-circle.m-l-md.pointer(data-toggle='tooltip' data-placement='left' title='{{ i18n "toolTipRating" }}')
                                    tbody
                                        each modules
                                            tr
                                                td
                                                    i.fa.fa-times.pointer.remove-module(data-module-id="{{moduleId}}" data-toggle='tooltip' data-placement='right' title='{{ i18n "tooltipDeleteSelection" }}')
                                                td
                                                        a(href='/module-detail/{{moduleId}}') {{ moduleId }}
                                                td
                                                    .drag-item(data-module-id='{{moduleId}}' draggable='true') {{ title }}
                                                td
                                                    div(data-toggle='tooltip', data-placement='left', title=i18ntootltipStars)
                                                        with(moduleId=moduleId moduleRating=rating)
                                                            .rateit.svg.pointer(id='{{moduleId}}', data-rateit-value='{{moduleRating}}', data-rateit-ispreset='true')
    .row.m-b
        .text-center
            .col-md-12
                button#finish.btn.btn-success.pull-right {{i18n 'finish'}}
    +removeModal



                                