template(name="aboutContent")
    .row.equal
        .col-md-6
            section.panel.panel-default
                header.panel-heading {{ i18n 'projectInfo' }}
                .panel-body
                    p {{{ i18n 'textProjectInfo' }}}
        .col-md-6
            section.panel.panel-default
                header.panel-heading {{ i18n 'contact' }}
                .panel-body
                    p {{{ i18n 'textContact' }}}

    .row.equal
        .col-md-6
            section.panel.panel-default
                header.panel-heading {{ i18n 'projectTeamTitle' }}
                .panel-body
                    .row
                        .col-xs-6
                            p {{{ i18n 'projectLead' }}}
                            ul.list-unstyled
                                li {{{ i18n 'projectSeuken' }}}
                                li {{{ i18n 'projectShann' }}}
                                li {{{ i18n 'projectMennle' }}}

                        .col-xs-6
                            p {{{ i18n 'projectTeam' }}}
                            ul.list-unstyled
                                li {{ i18n 'projectHee' }}
                                li {{ i18n 'projectPhilipp' }}
                                li {{ i18n 'projectHediger' }}
                                li {{ i18n 'projectHool' }}
                                li {{ i18n 'projectKuendig' }}
                                li {{ i18n 'projectBadran' }}

        .col-md-6
            section.panel.panel-default
                header.panel-heading {{ i18n 'disclaimer' }}
                .panel-body
                    p {{{ i18n 'textDisclaimer' }}}
    
    .row.equal
        .col-md-12
            section.panel.panel-default
                header.panel-heading {{ i18n 'userAgreement' }}
                .panel-body
                    p {{{ i18n 'userAgreementContent' }}}

    .row.equal
        .col-md-12
            section.panel.panel-default
                header.panel-heading {{ i18n 'networkUserAgreement' }}
                .panel-body
                    p {{{ i18n 'networkUserAgreementContent' }}}

