template(name="faqContent")
    .row
        .col-md-12
            ol.faq-navigation
            // FAQ 01
            .panel.panel-default#faq01
                .panel-heading
                    .b 1. {{ i18n 'faq01Title' }}
                .panel-body
                    p {{{ i18n 'faq01Text' }}}
            // FAQ 02
            .panel.panel-default#faq02
                .panel-heading
                    .b 2. {{ i18n 'faq02Title' }}
                .panel-body
                    p {{{ i18n 'faq02Text' }}}
            // FAQ 03
            .panel.panel-default#faq03
                .panel-heading
                    .b 3. {{ i18n 'faq03Title' }}
                .panel-body
                    p {{{ i18n 'faq03Text' }}}
            // FAQ 04
            .panel.panel-default#faq04
                .panel-heading
                    .b 4. {{ i18n 'faq04Title' }}
                .panel-body
                    p {{{ i18n 'faq04Text' }}}
            // FAQ 05
            .panel.panel-default#faq05
                .panel-heading
                    .b 5. {{ i18n 'faq05Title' }}
                .panel-body
                    p {{{ i18n 'faq05Text' }}}
            // FAQ 06
            .panel.panel-default#faq06
                .panel-heading
                    .b 6. {{ i18n 'faq06Title' }}
                .panel-body
                    p {{{ i18n 'faq06Text' }}}
            // FAQ 07
            .panel.panel-default#faq07
                .panel-heading
                    .b 7. {{ i18n 'faq07Title' }}
                .panel-body
                    p {{{ i18n 'faq07Text' }}}
            // FAQ 08
            .panel.panel-default#faq08
                .panel-heading
                   .b 8. {{ i18n 'faq08Title' }}
                .panel-body
                    p {{{ i18n 'faq08Text' }}}
            // FAQ 09
            .panel.panel-default#faq09
                .panel-heading
                   .b 9. {{ i18n 'faq09Title' }}
                .panel-body
                    p {{{ i18n 'faq09Text' }}}
            // FAQ 10
            .panel.panel-default#faq10
                .panel-heading
                   .b 10. {{ i18n 'faq10Title' }}
                .panel-body
                    p {{{ i18n 'faq10Text' }}}


      