template(name='task2Header')
    section.panel.panel-default.w
        #wizard.wizard.clearfix
            ul.steps
                +with(routeName='task2Instructions')
                    +task2HeaderTab
                        span.badge 1
                        div.plan
                            div(style='width:100%')
                                p {{ i18n 'task2StepOne' }}
                +with(routeName='task2SurveyOne')
                    +task2HeaderTab
                        span.badge 2
                        div.plan
                            div(style='width:100%')
                                p {{ i18n 'task2StepFour' }}
                +with(routeName='task2Tutorial')
                    +wizardHeaderTab
                        span.badge 3
                        div.plan
                            p {{ i18n 'task2StepTwo' }}
                +with(routeName='task2RecommendModules')
                    +registrationHeaderTab
                        span.badge 4
                        div.plan
                            p {{ i18n 'task2StepThree' }}
                +with(routeName='task2Survey')
                    +registrationHeaderTab
                        span.badge 5
                        div.plan
                            p {{ i18n 'task2StepFour' }}
                +with(routeName='task2Complete')
                    +registrationHeaderTab
                        span.badge 6
                        div.plan
                            p {{ i18n 'task2StepFive' }}


template(name='task2HeaderTab')
    +if isCompleted routeName
        a(href='{{ pathFor routeName }}')
            li(class='complete')
                +UI.contentBlock
    else
        li(class='{{ activeRouteClass routeName routeName2 }}')
            +UI.contentBlock