template(name='notAllowed')
	.padder.m-t
		.row
			.col-md-3.top-buffer
			.col-md-6.top-buffer
				section.panel.panel-default.instruction-panel
					.panel-body
						|{{{ i18n 'notAllowedInfo' }}}
		.row
			.col-md-3
			.col-md-6
				.panel-body
					|{{{ i18n 'notAllowedContent'}}}
				.panel-body
					input#logout.textButton(type='button', value='Logout')
						
