template(name='registrationAAI')
	+registrationHeader
	.padder.m-t
		.row
			.col-md-12
				section.panel.panel-default.instruction-panel
					.panel-body
						{{{ i18n 'registrationAAIPageInformation' }}}
		.row
			.col-md-12
				section.panel.panel-default
					.panel-body.text-center
						iframe(src='/login.html' style='width: 560px; height: 330px;')
		//.row
			//.col-md-10
			//.col-md-2
				//button.btn#debugLogin Debug Login
